<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/icono'); %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="text-align: center;">
        <h4><a href="/inventario"><%= title %></a></h4>
        <img src="images/melaninapro_image.png" alt="Melamina pro"></img>
        <p>Welcome to <%= title %></p>
        <h3>Version: <%-process.env.npm_package_version %></h3>
    </div>
  </body>
</html>
