<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Preferencias</title>

	<%- include('../../partials/head-preferencias'); %>
	<style>
		#preferencias_menu {
			background-color: bisque;
		}
		#booking {
			height: 70vh!important;
		}
	</style>
</head>

<body>
	<header>
        <%- include('../../partials/header'); %>
    </header>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h2>Preferencias</h2>
								<p>Esta pagina le permitira editar/a単adir tipos(colores) de melanina, editar el tama単o de cinta, etc..</p>
							</div>
						</div>
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Cantidad Maxima</span>
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option selected>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Color por defecto</span>
										<select class="form-control">
						                	<option >Noguera Caiena</option>
											<option selected>Blanco</option>
											<option >Carvhallo Evora</option>
											<option >WEngue Ravera B</option>
											<option >Blanco Berneck</option>
											<option >Nogueira</option>
											<option >Negro</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<select class="form-control" required>
									<option selected >Colores existentes</option>
									<option>Unidades existentes</option>
									<option>Medidas Existentes</option>
									<option>Marcas existentes</option>
									<option>Operario</option>
									<option>Cliente externo</option>
									<option>Catalogo melaminas</option>
									<option>Catalogo tapacantos</option>
									<option>Catalogo pegamentos</option>
									<option>Catalogo Fondos</option>
								</select>
								<span class="select-arrow"></span>
								<!-- <span class="form-label"><button class="form-btn" onclick="DisplayMelaninaEditForm(true); return false;">Editar</button></span>
								<span class="form-label"><button class="form-btn" onclick="DisplayMelaninaForm(true); return false;">A単adir</button></span>
								<span class="form-label"><button class="form-btn" onclick="DisplayMelaninaDeleteForm(true); return false;">Borrar</button></span>-->
								<span class="select-arrow"></span>
							</div>
							<div class="form-btn">
								<button class="submit-btn">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- table secction -->	
	<style>  
	     /*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');  */
	    .container_table {  
	      /*font-family: 'Montserrat', sans-serif;  */
	      padding: 0;  
	      margin: 0;  
	      text-align: center;
	      background-color: rgba(133, 104, 73, 0.33);
	      padding-bottom: 30px;
	    }  
	    tr:nth-of-type(odd) {   
	        background: #eee;   
	    }  
	    th {   
	        background: #3498db;   
	        color: white;   
	        font-weight: bold;   
	    }  
	      
	    @import "compass/css3";  
	    .table-editable {  
	      position: relative;  
	      .glyphicon {  
	        font-size: 20px;  
	      }  
	    }  
	    table {
	    	background-color: white;
	        width: 750px!important;   
	        border-collapse: collapse;   
	        margin:50px auto;  
	    }  
	    td, th {   
	        padding: 10px;   
	        border: 1px solid #ccc;   
	        text-align: left;   
	        font-size: 18px;  
	    }  
	    .table-remove {  
	      color: #700;  
	      cursor: pointer;  
	      &:hover {  
	        color: #f00;  
	      }  
	    }  
	    .table-up {  
	      color: #007;  
	      cursor: pointer;  
	      &:hover {  
	        color: #00f;  
	      }  
	    }  
	    .table-down {  
	      color: #007;  
	      cursor: pointer;  
	      &:hover {  
	        color: #00f;  
	      }  
	    }  
	    .table-add {  
	      color: #070;  
	      cursor: pointer;  
	      position: absolute;  
	      top: 8px;  
	      right: 0;  
	      &:hover {  
	        color: #0b0;  
	      }  
	    }  
    </style>  
    <div class="container_table">  
      <span class="form-label"><h5>Colores   <button type="button" onclick="add_row()">+</button></h5></span>
      <div id="table" class="table-editable">  
        <table class="table" id="data_table">
          <tr>  
            <th> Nombre</th>  
            <th> Codigo </th>  
            <th> Melamina </th>  
            <th> Tapacantos </th>  
            <th> Fondos </th>
            <th></th>
          </tr>
           <% for (let index = 0; index < color.length; index++) { 
           		var ID = color[index]._id.toString() %>
			<tr id="row_<%= ID %>">  
            	<td contenteditable="true" id="nombre_<%= ID %>"><%= color[index].nombre %></td>  
            	<td contenteditable="true" id="codigo_<%= ID %>"><%= color[index].codigo %></td>  
                <td><input type="checkbox" id="melamina_<%= ID %>" <%=(color[index].melamina == true)?'checked':'' %> /></td>
                <td><input type="checkbox" id="tapacantos_<%= ID %>" <%=(color[index].tapacantos == true)?'checked':'' %> /></td>
                <td><input type="checkbox" id="fondo_<%= ID %>" <%=(color[index].fondos == true)?'checked':'' %> /></td>
            	<td>
            		<button type="button" title="Guardar" id="g_<%= ID %>" onclick="guardarEditado(this.id)">o</button>
            		<button type="button" title="Borrar" id="b_<%= ID %>"onclick="Borrar(this.id)">X</button>
            	</td>  
          	</tr>    
           <% } %>
        </table>  
      </div>  
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="javascripts/preferencias.js"> </script> 
    <script>  
	    var $TABLE = $('#table');  
	    var $BTN = $('#export-btn');  
	    var $EXPORT = $('#export');  

	    $('.table-add').click(function () {  
	      var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');  
	      $TABLE.find('table').append($clone);  
	    });  

	    $('.table-remove').click(function () {  
	        $(this).parents('tr').detach();  
	    });  

	    $('.table-up').click(function () {  
	      var $row = $(this).parents('tr');  
	      if ($row.index() === 1) return;   
	      $row.prev().before($row.get(0));  
	    });  

	    $('.table-down').click(function () {  
	      var $row = $(this).parents('tr');  
	      $row.next().after($row.get(0));  
	    });  

	    jQuery.fn.pop = [].pop;  
	    jQuery.fn.shift = [].shift;  

	    $BTN.click(function () {  
		      var $rows = $TABLE.find('tr:not(:hidden)');  
		      var headers = [];  
		      var data = [];  
		      
		      $($rows.shift()).find('th:not(:empty)').each(function () {  
		          headers.push($(this).text().toLowerCase());  
		      });  
		      
		      $rows.each(function () {  
		        var $td = $(this).find('td');  
		        var h = {};  
		        headers.forEach(function (header, i) {  
		            h[header] = $td.eq(i).text();     
		        });  
		        data.push(h);  
		      });  
        });


        function add_row() {
		   var table = document.getElementById("data_table");
		   var table_len = table.rows.length;
		   var row = table.insertRow(table_len).outerHTML = "<tr id='row_"+(table_len-1)+"'><td id='nombre_"+(table_len-1)+"' contenteditable='true'></td><td id='codigo_"+(table_len-1)+"'contenteditable='true'></td><td><input id='melamina_"+(table_len-1)+"' type='checkbox'/></td><td><input id='tapacantos_"+(table_len-1)+"' type='checkbox'/></td><td><input id='fondo_"+(table_len-1)+"' type='checkbox'/></td><td><button type='button' title='Guardar' id='g_"+(table_len-1)+"' onclick='guardarNuevo(this.id)'>o</button><button type='button' title='Borrar' id='"+(table_len-1)+"' onclick='borrarNuevo("+(table_len-1)+")'>X</button></td></tr>";
		}

        function guardarNuevo(row_id) {
        	row_id = row_id.substr(2);
        	colorObj.att.nombre = document.getElementById("nombre_" + row_id).innerText;
        	colorObj.att.codigo = document.getElementById("codigo_" + row_id).innerText;
        	colorObj.att.melamina = document.getElementById("melamina_" + row_id).value;
        	colorObj.att.tapacantos = document.getElementById("tapacantos_" + row_id).value;
        	colorObj.att.fondo = document.getElementById("fondo_" + row_id).value;
        	colorObj.guardarNuevo();
		}

		function borrarNuevo(row_id) {
		    document.getElementById("row_" + row_id).outerHTML = "";
		}

     	function guardarEditado(row_id) {
            row_id = row_id.substr(2);
            colorObj.nombre = document.getElementById("nombre_" + row_id).innerText;
        	colorObj.codigo = document.getElementById("codigo_" + row_id).innerText;
        	colorObj.melamina = document.getElementById("melamina_" + row_id).value;
        	colorObj.tapacantos = document.getElementById("tapacantos_" + row_id).value;
        	colorObj.fondo = document.getElementById("fondo_" + row_id).value;
            colorObj.guardarEditado(row_id);
		}

		function borrar(row_id) {
            row_id = row_id.substr(2);
            colorObj.borrar(row_id);
            //then
		    document.getElementById("row_" + row_id).outerHTML = "";
		}
    </script>



		<div id="melanina_add" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">A単adir Melanina</h1>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="Nombre" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="Industria" name="Industria" placeholder="Industria">
					<br>
					<input class="form-control" type="text" id="Color" name="Color" placeholder="Color">
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>

		<div id="melanina_edit" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">Melanina a editar</h1>
				<select class="form-control edit-select" required onchange="getMelaninaToEdit(this.selectedIndex); return false;">
					<option value="c1">Blanco</option>
					<option value="c2">Noguera Caiena</option>
					<option value="c3">Carvhallo Evora</option>
					<option value="c4">Wengue Ravera B</option>
					<option value="c5">Blanco Berneck</option>
					<option value="c6">Nogueira</option>
					<option value="c7">Negro</option>
				</select>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="NombreE" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="IndustriaE" name="Industria" placeholder="Industria">
					<br>
					<select class="form-control" id="ColorE" onchange="getMelaninaToEditColor(); return false;">
						<option value="White">White</option>
						<option value="AliceBlue">AliceBlue</option>
						<option value="AntiqueWhite">AntiqueWhite</option>
						<option value="Aqua">Aqua</option>
						<option value="Aquamarine">Aquamarine</option>
						<option value="Azure">Azure</option>
						<option value="Beige">Beige</option>
						<option value="Bisque">Bisque</option>
						<option value="Black">Black</option>
						<option value="BlanchedAlmond">BlanchedAlmond</option>
						<option value="Blue">Blue</option>
						<option value="BlueViolet">BlueViolet</option>
						<option value="Brown">Brown</option>
					</select>
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaEditForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaEditForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>
	
		<div id="melanina_delete" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">Melanina a borrar</h1>
				<select class="form-control delete-select" required onchange="getMelaninaToDelete(this.selectedIndex); return false;">
					<option value="c1">Blanco</option>
					<option value="c2">Noguera Caiena</option>
					<option value="c3">Carvhallo Evora</option>
					<option value="c4">Wengue Ravera B</option>
					<option value="c5">Blanco Berneck</option>
					<option value="c6">Nogueira</option>
					<option value="c7">Negro</option>
				</select>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="NombreD" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="IndustriaD" name="Industria" placeholder="Industria">
					<br>
					<select class="form-control" id="ColorD" onchange="getMelaninaToEditColor(); return false;">
						<option value="White">White</option>
						<option value="AliceBlue">AliceBlue</option>
						<option value="AntiqueWhite">AntiqueWhite</option>
						<option value="Aqua">Aqua</option>
						<option value="Aquamarine">Aquamarine</option>
						<option value="Azure">Azure</option>
						<option value="Beige">Beige</option>
						<option value="Bisque">Bisque</option>
						<option value="Black">Black</option>
						<option value="BlanchedAlmond">BlanchedAlmond</option>
						<option value="Blue">Blue</option>
						<option value="BlueViolet">BlueViolet</option>
						<option value="Brown">Brown</option>
					</select>
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaDeleteForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaDeleteForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>

		<footer>
			<%- include('../../partials/footer'); %>
		</footer>
</body>

</html>
