<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../../partials/icono'); %>
	<meta charset="utf-8">
	<title>Preferencias</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<%- include('../../partials/head-preferencias'); %>
	<script>
        var listas = {
			color: <%- JSON.stringify(color) %>,
            medidas: <%- JSON.stringify(medidas) %>,
		    marca: <%- JSON.stringify(marcas) %>,
		    provedor: <%- JSON.stringify(provedor) %>,
		};
    </script>
	<style>
		body {
			background: rgba(133, 104, 73, 0.33);
		}
		#preferencias_menu {
			background-color: bisque;
		}
		#booking {
			height: 100vh!important;
		}
		@media only screen and (max-width: 991px) {
			#booking {
				padding-top: 1100px!important;
			}
		}
	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header>
        <%- include('../../partials/header'); %>
    </header>
	<%  var controMinimo = {};
		for (i = 0; i < control.length; i++) {
			controMinimo[control[i].item] = Number(control[i].minimo);
		}
	%>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h2>Preferencias</h2>
								<p>Esta pagina le permitira editar/a単adir tipos(colores) de melanina, editar el tama単o de cinta, etc..</p>
							</div>
						</div>
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Min Cant. Melamina</span>
										<select class="form-control" id="melamina_min">
											<option value="1" <%= (controMinimo["Melamina"]==1)?'selected':'' %>>1 lamina</option>
											<% for (var index = 2; index < 25; index++) { %>
											<option value="<%=index %>" <%= (controMinimo["Melamina"]==index)?'selected':'' %>><%=index %> laminas</option>
											<% } %>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Min Cant. Tapacantos</span>
										<select class="form-control" id="tapacantos_min">
											<option value="1" <%= (controMinimo["Tapacantos"]==1)?'selected':'' %>>1 rollo</option>
											<% for (var index = 2; index < 25; index++) { %>
											<option value="<%=index %>" <%= (controMinimo["Tapacantos"]==index)?'selected':'' %>><%=index %> rollos</option>
											<% } %>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Min Cant. Pegamento</span>
										<select class="form-control" id="pegamento_min">
											<option value="1" <%= (controMinimo["Pegamento"]==1)?'selected':'' %>>1 bolsa</option>
											<% for (var index = 2; index < 25; index++) { %>
											<option value="<%=index %>" <%= (controMinimo["Pegamento"]==index)?'selected':'' %>><%=index %> bolsas</option>
											<% } %>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Min Cant. Fondo</span>
										<select class="form-control" id="fondo_min">
											<option value="1" <%= (controMinimo["Fondo"]==1)?'selected':'' %>>1 lamina</option>
											<% for (var index = 2; index < 25; index++) { %>
											<option value="<%=index %>" <%= (controMinimo["Fondo"]==index)?'selected':'' %>><%=index %> laminas</option>
											<% } %>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Min Cant. Tapatornillo</span>
										<select class="form-control" id="tapatornillos_min">
											<option value="1" <%= (controMinimo["Tapatornillos"]==1)?'selected':'' %>>1 hoja</option>
											<% for (var index = 2; index <= 25; index++) { %>
											<option value="<%=index %>" <%= (controMinimo["Tapatornillos"]==index)?'selected':'' %>><%=index %> hojas</option>
											<% } %>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn" type="button" onclick="guardarControlMinimos()">Guardar</button>
							</div>
							<hr>
							<div class="form-group">
								<span class="form-label">Listas & Catalogos</span>
								<select id="catalogos" class="form-control" required onchange="selectEditableTable(this)" >
									<option selected value="color">Colores</option>
									<option value="marca">Marcas</option>
									<option value="medidas">Medidas</option>
									<option value="provedor">Provedor</option>
									<option value="item">Productos</option>
									<option value="cliente">Clientes</option>
									<option value="melamina">Catalogo Melaminas</option>
									<option value="tapacantos">Catalogo Tapacantos</option>
									<option value="pegamento">Catalogo Pegamentos</option>
									<option value="fondo">Catalogo Fondos</option>
									<option value="tapatornillos">Catalogo Tapatornillos</option>
								</select>
								<span class="select-arrow"></span>
								<!-- <span class="form-label"><button class="form-btn" onclick="DisplayMelaninaEditForm(true); return false;">Editar</button></span>
								<span class="form-label"><button class="form-btn" onclick="DisplayMelaninaForm(true); return false;">A単adir</button></span>
								<span class="form-label"><button class="form-btn" onclick="DisplayMelaninaDeleteForm(true); return false;">Borrar</button></span>-->
								<span class="select-arrow"></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- table secction -->	
	<style>  
	     /*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');  */
	    .container_table {  
	      /*font-family: 'Montserrat', sans-serif;  */
	      padding: 0;  
	      margin: 0;  
	      text-align: center;
	      /*background-color: rgba(133, 104, 73, 0.33);*/
	      padding-bottom: 30px;
	    }
	    tr:nth-of-type(odd) {
	        background: #eee;
	    }
		tr:nth-of-type(even) {
	        background: white;
	    }
	    th {   
	        background: #3498db;
	        color: white;
	        font-weight: bold;
	    }  
	      
	    @import "compass/css3";  
	    .table-editable {  
	        position: relative;
		    background-color: white;
	       /* width: 1120px!important; */
	        border-collapse: collapse;   
	        margin:50px auto;  
	      .glyphicon {  
	        font-size: 20px;  
	      }  
	    }  
	    td, th {   
	        padding: 10px;   
	        border: 1px solid #ccc;   
	        text-align: left;   
	        font-size: 14px;
	    }  
	    .table-remove {  
	      color: #700;  
	      cursor: pointer;  
	      &:hover {  
	        color: #f00;  
	      }  
	    }  
	    .table-up {  
	      color: #007;  
	      cursor: pointer;  
	      &:hover {  
	        color: #00f;  
	      }  
	    }  
	    .table-down {  
	      color: #007;  
	      cursor: pointer;  
	      &:hover {  
	        color: #00f;  
	      }  
	    }  
	    .table-add {
	      color: #070;  
	      cursor: pointer;  
	      position: absolute;  
	      top: 8px;  
	      right: 0;  
	      &:hover {  
	        color: #0b0;  
	      }  
	    }
		.itemtd {
			padding: 2px!important;
    		font-size: 11px;
		}
		.item_td {
			padding: 5px!important;
			font-size: 12px;
		}
		.sort {
			background-color: #3498db;
			color:white;
			border: 0px;
		}
		button.pref {
			border-radius: 5px;
			border-color: rgb(133, 104, 73, 0.9);
			background-color: rgb(133, 104, 73, 0.9);
			color:white;
			cursor: pointer;
		}
    </style>
    <div id="color" class="container_table">  
      <span class="form-label"><h5>Colores   <button class="pref" title="Addicionar Nuevo" type="button" id="colores_add" onclick="add_row(this)">+</button></h5></span>
      <div class="table-editable">  
        <table class="table" id="color_data_table">
          <tr>  
            <th><button class="sort" data-sort="Nombre">Nombre</button></th>  
            <th> Codigo </th>  
            <th> Melamina </th>  
            <th> Tapacantos </th>  
            <th> Fondos </th>
			<th> Tapatornillos </th>
            <th></th>
          </tr>
		  <tbody class="list">
           <% for (let index = 0; index < color.length; index++) { 
           		var ID = color[index]._id.toString() %>
			<tr id="row_<%= ID %>">  
                <td contenteditable="true" class="stopSpaces Nombre" id="c_nombre_<%= ID %>"><%= color[index].nombre %></td>
                <td><input type="color" id="c_codigo_<%= ID %>" value="<%= (color[index].codigo.length==0)?'#ffffff':color[index].codigo %>" /></td>
                <td><input type="checkbox" id="c_melamina_<%= ID %>" <%=(color[index].melamina == true)?'checked':'' %> /></td>
                <td><input type="checkbox" id="c_tapacantos_<%= ID %>" <%=(color[index].tapacantos == true)?'checked':'' %> /></td>
                <td><input type="checkbox" id="c_fondo_<%= ID %>" <%=(color[index].fondo == true)?'checked':'' %> /></td>
				<td><input type="checkbox" id="c_tapatornillos_<%= ID %>" <%=(color[index].tapatornillos == true)?'checked':'' %> /></td>
            	<td>
            		<button class="pref" type="button" title="Guardar" id="gc_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
            		<button class="pref" type="button" title="Borrar" id="bc_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
            	</td>  
          	</tr>    
           <% } %>
		   </tbody>
        </table>  
      </div>  
    </div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<script>
		var options = {
			valueNames: [ 'Nombre' ],
		};
		var colorList = new List('color', options);
	</script>
	<div id="marca" class="container_table">
		<span class="form-label"><h5>Marcas   <button class="pref" title="Addicionar Nuevo" type="button" id="marcas_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="marca_data_table">
			<tr>
			  <th> Nombre </th>  
			  <th> Melamina </th>  
			  <th> Tapacantos </th>  
			  <th> Pegamento </th>  
			  <th> Fondos </th>
			  <th> Tapatornillos </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < marcas.length; index++) {
					 var ID = marcas[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td contenteditable="true" class="stopSpaces" id="m_nombre_<%= ID %>"><%= marcas[index].nombre %></td>
				  <td><input type="checkbox" id="m_melamina_<%= ID %>" <%=(marcas[index].melamina == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="m_tapacantos_<%= ID %>" <%=(marcas[index].tapacantos == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="m_pegamento_<%= ID %>" <%=(marcas[index].pegamento == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="m_fondo_<%= ID %>" <%=(marcas[index].fondo == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="m_tapatornillos_<%= ID %>" <%=(marcas[index].tapatornillos == true)?'checked':'' %> /></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gm_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bm_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="medidas" class="container_table">
		<span class="form-label"><h5>Medidas   <button class="pref" title="Addicionar Nuevo" type="button" id="medidas_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="medidas_data_table">
			<tr>
			  <th> Nombre </th>  
			  <th> Melamina </th>  
			  <th> Tapacantos </th>  
			  <th> Fondos </th>
			  <th> Tapatornillos </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < medidas.length; index++) {
					 var ID = medidas[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td contenteditable="true" class="stopSpaces" id="e_nombre_<%= ID %>"><%= medidas[index].nombre %></td>
				  <td><input type="checkbox" id="e_melamina_<%= ID %>" <%=(medidas[index].melamina == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="e_tapacantos_<%= ID %>" <%=(medidas[index].tapacantos == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="e_fondo_<%= ID %>" <%=(medidas[index].fondo == true)?'checked':'' %> /></td>
				  <td><input type="checkbox" id="e_tapatornillos_<%= ID %>" <%=(medidas[index].tapatornillos == true)?'checked':'' %> /></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="ge_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="be_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="provedor" class="container_table">
		<span class="form-label"><h5>Provedor   <button class="pref" title="Addicionar Nuevo" type="button" id="provedor_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="provedor_data_table">
			<tr>
			  <th> Nombre </th>  
			  <th> Direccion </th>  
			  <th> Celular </th>
			  <th> Email </th>
			  <th> Items </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < provedor.length; index++) {
					 var ID = provedor[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" class="stopSpaces" contenteditable="true" id="p_nombre_<%= ID %>"><%= provedor[index].nombre %></td>
				  <td class="item_td" contenteditable="true" id="p_direccion_<%= ID %>"><%= provedor[index].direccion %></td>
				  <td class="item_td" contenteditable="true" id="p_celular_<%= ID %>"><%= provedor[index].celular %></td>
				  <td class="item_td" contenteditable="true" id="p_email_<%= ID %>"><%= provedor[index].email %></td>
				  <td class="itemtd" id="p_items_<%= ID %>">
					<table>
						<tr>
							<td class="itemtd">Melamina</td>
							<td class="itemtd">Tapacantos</td>
							<td class="itemtd">Pegamento</td>
							<td class="itemtd">Fondo</td>
							<td class="itemtd">Tapatornillo</td>
						</tr>
						<tr>
						<%  var productos = ["Melamina","Tapacantos","Pegamento","Fondo","Tapatornillos"];
							productos.forEach((producto) => {
								var elegido = false;
								provedor[index].items.forEach((item) => {
									if (producto == item) {
										elegido = true;
									}
								}) %>
							<td class="itemtd"><input id="p_items_<%= ID %>_<%= producto %>" type="checkbox" <%- (elegido) ? "checked" : ""; %> /></td>
						<%  }) %>
						</tr>
					</table>
				  </td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gp_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bp_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="item" class="container_table">
		<span class="form-label"><h5>Producto(item)   <button class="pref" title="Addicionar Nuevo" type="button" id="producto_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="item_data_table">
			<tr>
			  <th> Nombre </th>  
			  <th> Unidad </th>  
			  <th> Embalaje </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < item.length; index++) {
					 var ID = item[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td contenteditable="true" class="stopSpaces" id="i_nombre_<%= ID %>"><%= item[index].nombre %></td>
				  <td contenteditable="true" class="stopSpaces" id="i_unidad_<%= ID %>"><%= item[index].unidad %></td>
				  <td contenteditable="true" class="stopSpaces" id="i_embalaje_<%= ID %>"><%= item[index].embalaje %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gi_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bi_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="cliente" class="container_table">
		<span class="form-label"><h5>Cliente   <button class="pref" title="Addicionar Nuevo" type="button" id="cliente_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="cliente_data_table">
			<tr>
			  <th> Nombre </th>  
			  <th> CI </th>  
			  <th> NIT </th>
			  <th> Direccion </th>
			  <th> Celular </th>
			  <th> Email </th>
			  <th> Empresa </th>
			  <th> Tipo </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < cliente.length; index++) {
					 var ID = cliente[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" contenteditable="true" id="l_nombre_<%= ID %>"><%= cliente[index].nombre %></td>
				  <td class="item_td" contenteditable="true" id="l_ci_<%= ID %>"><%= cliente[index].ci %></td>
				  <td class="item_td" contenteditable="true" id="l_nit_<%= ID %>"><%= cliente[index].nit %></td>
				  <td class="item_td" contenteditable="true" id="l_direccion_<%= ID %>"><%= cliente[index].direccion %></td>
				  <td class="item_td" contenteditable="true" id="l_celular_<%= ID %>"><%= cliente[index].celular %></td>
				  <td class="item_td" contenteditable="true" id="l_email_<%= ID %>"><%= cliente[index].email %></td>
				  <td class="item_td" contenteditable="true" id="l_empresa_<%= ID %>"><%= cliente[index].empresa %></td>
				  <td class="item_td" class="stopSpaces" contenteditable="true" id="l_tipo_<%= ID %>"><%= cliente[index].tipo %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gl_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bl_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="melamina" class="container_table">
		<span class="form-label"><h5>Melamina   <button class="pref" title="Addicionar Nuevo" type="button" id="melamina_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="melamina_data_table">
			<tr>
			  <th> Color </th>  
			  <th> Provedor </th>  
			  <th> Medidas </th>
			  <th> Marca </th>
			  <th> Precio Compra (lamina) </th>
			  <th> Precio Venta (lamina) </th>
			  <th> Precio Venta Interno (lamina) </th>
			  <th> Lamina x Paquete </th>
			  <th> A Pedido </th>
			  <th> Fotografia </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < melamina.length; index++) {
					 var ID = melamina[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" id="a_color_<%= ID %>">
					<select id="color_melamina_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un color)</option>
						<% for (var i=0; i < color.length; i++) {
							if (color[i].melamina)  { %>
							<option value="<%= color[i]._id.toString() %>" <%=(color[i]._id.toString()==melamina[index].color) ? 'selected' : '' %>><%= color[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="a_provedor_<%= ID %>">
					<select id="provedor_melamina_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un provedor)</option>
						<% for (var i=0; i < provedor.length; i++) {
							if (provedor[i].items.includes("Melamina"))  { %>
							<option value="<%= provedor[i]._id.toString() %>" <%=(provedor[i]._id.toString()==melamina[index].provedor) ? 'selected' : '' %>><%= provedor[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="a_medidas_<%= ID %>">
					<select id="medidas_melamina_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un medidas)</option>
						<% for (var i=0; i < medidas.length; i++) {
							if (medidas[i].melamina)  { %>
							<option value="<%= medidas[i]._id.toString() %>" <%=(medidas[i]._id.toString()==melamina[index].medidas) ? 'selected' : '' %>><%= medidas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="a_marca_<%= ID %>">
					<select id="marca_melamina_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un marcas)</option>
						<% for (var i=0; i < marcas.length; i++) {
							if (marcas[i].melamina)  { %>
							<option value="<%= marcas[i]._id.toString() %>" <%=(marcas[i]._id.toString()==melamina[index].marca) ? 'selected' : '' %>><%= marcas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td numericAllow" contenteditable="true" id="a_precio_compra_<%= ID %>"><%= melamina[index].precio_compra %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="a_precio_venta_<%= ID %>"><%= melamina[index].precio_venta %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="a_precio_venta_interno_<%= ID %>"><%= melamina[index].precio_venta_interno %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="a_laminaxpaquete_<%= ID %>"><%= melamina[index].laminaxpaquete %></td>
				  <td><input type="checkbox" id="a_apedido_<%= ID %>" <%=(melamina[index].apedido == true)?'checked':'' %> /></td>
				  <td contenteditable="true" class="stopSpaces" id="a_photo_<%= ID %>"><%= melamina[index].link_photo %></td>
				  <td style="display:none" id="a_hash_<%= ID %>"><%= melamina[index].hash_inventario %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gm_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bm_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="tapacantos" class="container_table">
		<span class="form-label"><h5>Tapacantos   <button class="pref" title="Addicionar Nuevo" type="button" id="tapacantos_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable" style="width: 1000px!important;  margin:0px!important;">
		  <table class="table" id="tapacantos_data_table">
			<tr>
			  <th> Color </th>  
			  <th> Provedor </th>  
			  <th> Medidas </th>
			  <th> Marca </th>
			  <th> Precio Compra (rollos)</th>
			  <th> Precio Venta (rollos)</th>
			  <th> Metros x Rollo </th>
			  <th> Rollos x Caja </th>
			  <th> Precio Compra (caja)</th>
			  <th> Precio Venta (caja)</th>
			  <th> Precio Venta (metros) </th>
			  <th> Precio Venta (metros) al canteo</th>
			  <th> A pedido </th>
			  <th> Fotografia </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < tapacantos.length; index++) {
					 var ID = tapacantos[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" id="t_color_<%= ID %>">
					<select id="color_tapacantos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un color)</option>
						<% for (var i=0; i < color.length; i++) {
							if (color[i].tapacantos)  { %>
							<option value="<%= color[i]._id.toString() %>" <%=(color[i]._id.toString()==tapacantos[index].color) ? 'selected' : '' %>><%= color[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="t_provedor_<%= ID %>">
					<select id="provedor_tapacantos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un provedor)</option>
						<% for (var i=0; i < provedor.length; i++) {
							if (provedor[i].items.includes("Tapacantos"))  { %>
							<option value="<%= provedor[i]._id.toString() %>" <%=(provedor[i]._id.toString()==tapacantos[index].provedor) ? 'selected' : '' %>><%= provedor[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="t_medidas_<%= ID %>">
					<select id="medidas_tapacantos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una medida)</option>
						<% for (var i=0; i < medidas.length; i++) {
							if (medidas[i].tapacantos)  { %>
							<option value="<%= medidas[i]._id.toString() %>" <%=(medidas[i]._id.toString()==tapacantos[index].medidas) ? 'selected' : '' %>><%= medidas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="t_marca_<%= ID %>">
					<select id="marca_tapacantos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una marca)</option>
						<% for (var i=0; i < marcas.length; i++) {
							if (marcas[i].tapacantos)  { %>
							<option value="<%= marcas[i]._id.toString() %>" <%=(marcas[i]._id.toString()==tapacantos[index].marca) ? 'selected' : '' %>><%= marcas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_compra_<%= ID %>"><%= tapacantos[index].precio_compra %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_<%= ID %>"><%= tapacantos[index].precio_venta %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_metrosxrollo_<%= ID %>"><%= tapacantos[index].metrosxrollo %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_rollosxcaja_<%= ID %>"><%= tapacantos[index].rollosxcaja %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_compra_caja_<%= ID %>"><%= tapacantos[index].precio_compra_caja %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_caja_<%= ID %>"><%= tapacantos[index].precio_venta_caja %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_metros_<%= ID %>"><%= tapacantos[index].precio_venta_metros %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_metros_canteo_<%= ID %>"><%= tapacantos[index].precio_venta_metros_canteo %></td>
				  <td><input type="checkbox" id="t_apedido_<%= ID %>" <%=(tapacantos[index].apedido == true)?'checked':'' %> /></td>
				  <td contenteditable="true" class="stopSpaces" id="t_photo_<%= ID %>"><%= tapacantos[index].link_photo %></td>
				  <td style="display:none" id="t_hash_<%= ID %>"><%= tapacantos[index].hash_inventario %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gt_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bt_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="pegamento" class="container_table">
		<span class="form-label"><h5>Pegamento   <button class="pref" title="Addicionar Nuevo" type="button" id="pegamento_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="pegamento_data_table">
			<tr>
			  <th> Provedor </th>  
			  <th> Marca </th>
			  <th> Precio Compra (bolsa)</th>
			  <th> Precio Venta (bolsa)</th>
			  <th> Fotografia </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < pegamento.length; index++) {
					 var ID = pegamento[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td id="p_provedor_<%= ID %>">
					<select id="provedor_pegamento_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un provedor)</option>
						<% for (var i=0; i < provedor.length; i++) {
							if (provedor[i].items.includes("Pegamento"))  { %>
							<option value="<%= provedor[i]._id.toString() %>" <%=(provedor[i]._id.toString()==pegamento[index].provedor) ? 'selected' : '' %>><%= provedor[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td id="p_marca_<%= ID %>">
					<select id="marca_pegamento_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una marca)</option>
						<% for (var i=0; i < marcas.length; i++) {
							if (marcas[i].pegamento)  { %>
							<option value="<%= marcas[i]._id.toString() %>" <%=(marcas[i]._id.toString()==pegamento[index].marca) ? 'selected' : '' %>><%= marcas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="numericAllow" contenteditable="true" id="p_precio_compra_<%= ID %>"><%= pegamento[index].precio_compra %></td>
				  <td class="numericAllow" contenteditable="true" id="p_precio_venta_<%= ID %>"><%= pegamento[index].precio_venta %></td>
				  <td contenteditable="true" class="stopSpaces" id="p_photo_<%= ID %>"><%= pegamento[index].link_photo %></td>
				  <td style="display:none" id="p_hash_<%= ID %>"><%= pegamento[index].hash_inventario %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gp_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bp_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="fondo" class="container_table">
		<span class="form-label"><h5>Fondo   <button class="pref" title="Addicionar Nuevo" type="button" id="fondo_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="fondo_data_table">
			<tr>
			  <th> Color </th>  
			  <th> Provedor </th>  
			  <th> Medidas </th>
			  <th> Marca </th>
			  <th> Precio Compra (laminas)</th>
			  <th> Precio Venta (laminas)</th>
			  <th> Lamina x Paquete </th>
			  <th> A pedido </th>
			  <th> Fotografia </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < fondo.length; index++) {
					 var ID = fondo[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" id="f_color_<%= ID %>">
					<select id="color_fondo_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un color)</option>
						<% for (var i=0; i < color.length; i++) {
							if (color[i].fondo)  { %>
							<option value="<%= color[i]._id.toString() %>" <%=(color[i]._id.toString()==fondo[index].color) ? 'selected' : '' %>><%= color[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="f_provedor_<%= ID %>">
					<select id="provedor_fondo_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un provedor)</option>
						<% for (var i=0; i < provedor.length; i++) {
							if (provedor[i].items.includes("Fondo"))  { %>
							<option value="<%= provedor[i]._id.toString() %>" <%=(provedor[i]._id.toString()==fondo[index].provedor) ? 'selected' : '' %>><%= provedor[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="f_medidas_<%= ID %>">
					<select id="medidas_fondo_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una medida)</option>
						<% for (var i=0; i < medidas.length; i++) {
							if (medidas[i].fondo)  { %>
							<option value="<%= medidas[i]._id.toString() %>" <%=(medidas[i]._id.toString()==fondo[index].medidas) ? 'selected' : '' %>><%= medidas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="f_marca_<%= ID %>">
					<select id="marca_fondo_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una marca)</option>
						<% for (var i=0; i < marcas.length; i++) {
							if (marcas[i].fondo)  { %>
							<option value="<%= marcas[i]._id.toString() %>" <%=(marcas[i]._id.toString()==fondo[index].marca) ? 'selected' : '' %>><%= marcas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td numericAllow" contenteditable="true" id="f_precio_compra_<%= ID %>"><%= fondo[index].precio_compra %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="f_precio_venta_<%= ID %>"><%= fondo[index].precio_venta %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="f_laminaxpaquete_<%= ID %>"><%= fondo[index].laminaxpaquete %></td>
				  <td><input type="checkbox" id="f_apedido_<%= ID %>" <%=(fondo[index].apedido == true)?'checked':'' %> /></td>
				  <td contenteditable="true" class="stopSpaces" id="f_photo_<%= ID %>"><%= fondo[index].link_photo %></td>
				  <td style="display:none" id="f_hash_<%= ID %>"><%= fondo[index].hash_inventario %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gf_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bf_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
	  <div id="tapatornillos" class="container_table">
		<span class="form-label"><h5>Tapatornillos   <button class="pref" title="Addicionar Nuevo" type="button" id="tapatornillos_add" onclick="add_row(this)">+</button></h5></span>
		<div class="table-editable">
		  <table class="table" id="tapatornillos_data_table">
			<tr>
			  <th> Color </th>  
			  <th> Provedor </th>  
			  <th> Marca </th>
			  <th> Precio Compra (hoja)</th>
			  <th> Precio Venta (hoja)</th>
			  <th> Precio Compra (caja)</th>
			  <th> Precio Venta (caja)</th>
			  <th> Hojas x Caja </th>
			  <th> A pedido </th>
			  <th> Fotografia </th>
			  <th></th>
			</tr>
			 <% for (let index = 0; index < tapatornillos.length; index++) {
					 var ID = tapatornillos[index]._id.toString() %>
			  <tr id="row_<%= ID %>">
				  <td class="item_td" id="f_color_<%= ID %>">
					<select id="color_tapatornillos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un color)</option>
						<% for (var i=0; i < color.length; i++) {
							if (color[i].tapatornillos)  { %>
							<option value="<%= color[i]._id.toString() %>" <%=(color[i]._id.toString()==tapatornillos[index].color) ? 'selected' : '' %>><%= color[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="f_provedor_<%= ID %>">
					<select id="provedor_tapatornillos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione un provedor)</option>
						<% for (var i=0; i < provedor.length; i++) {
							if (provedor[i].items.includes("Tapatornillos"))  { %>
							<option value="<%= provedor[i]._id.toString() %>" <%=(provedor[i]._id.toString()==tapatornillos[index].provedor) ? 'selected' : '' %>><%= provedor[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td" id="f_marca_<%= ID %>">
					<select id="marca_tapatornillos_<%= ID %>">
						<option value="" style="background:yellow">(seleccione una marca)</option>
						<% for (var i=0; i < marcas.length; i++) {
							if (marcas[i].tapatornillos)  { %>
							<option value="<%= marcas[i]._id.toString() %>" <%=(marcas[i]._id.toString()==tapatornillos[index].marca) ? 'selected' : '' %>><%= marcas[i].nombre %></option>
						<% }} %>
					</select>
				  </td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_compra_<%= ID %>"><%= tapatornillos[index].precio_compra %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_<%= ID %>"><%= tapatornillos[index].precio_venta %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_compra_caja_<%= ID %>"><%= tapatornillos[index].precio_compra_caja %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_precio_venta_caja_<%= ID %>"><%= tapatornillos[index].precio_venta_caja %></td>
				  <td class="item_td numericAllow" contenteditable="true" id="t_hojaxcaja_<%= ID %>"><%= tapatornillos[index].hojaxcaja %></td>
				  <td><input type="checkbox" id="t_apedido_<%= ID %>" <%=(tapatornillos[index].apedido == true)?'checked':'' %> /></td>
				  <td contenteditable="true" class="stopSpaces" id="t_photo_<%= ID %>"><%= tapatornillos[index].link_photo %></td>
				  <td style="display:none" id="t_hash_<%= ID %>"><%= tapatornillos[index].hash_inventario %></td>
				  <td>
					  <button class="pref" type="button" title="Guardar" id="gf_<%= ID %>" onclick="guardarEditado(this.id)"><i class="fa fa-save"></i></button>
					  <button class="pref" type="button" title="Borrar" id="bf_<%= ID %>"onclick="borrar(this.id)"><i class="fa fa-trash"></i></button>
				  </td>
				</tr>
			 <% } %>
		  </table>
		</div>
	  </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="javascripts/preferencias.js"></script>
    <script>
		var CATALOGOS = ["color","marca","medidas","provedor","item","cliente","melamina","tapacantos","pegamento","fondo","tapatornillos"];
		var SELECTED_CATALOGO = "color";
		var objCatalog = null;
		function ButtonAdd() {
			this.button = {};
			this.disableButton = (ID) => {
				if (!ID) {
					return false;
				}

				if (this.button[ID]) {
					this.button[ID].disabled = false;
				}

				this.button[ID] = document.getElementById(ID)
				this.button[ID].disabled = true;
			}

			this.enableButton = (ID)=> {
				if (this.button[ID]) {
					this.button[ID].disabled = false;
					this.button[ID] = null;
				}
			}
		};
		var buttonAdd = new ButtonAdd();
	
		$(function() {
			selectEditableTable({value:"color"});
		});

		function selectEditableTable(selectBox) {
			let selectedCatalogo = selectBox.value;
			CATALOGOS.forEach((name) => {
				if (selectedCatalogo == name) {
					SELECTED_CATALOGO = name;
					let obj = SELECTED_CATALOGO.capitalizeFirst();
					console.log("Selected class " + obj);
					objCatalog = new window[obj]();
					document.getElementById(name).style.display = "block";
					window.scrollTo(0, 600);
				} else {
					document.getElementById(name).style.display = "none";
				}
			});
		}

        function add_row(button) {
			buttonAdd.disableButton(button.id);

		    var table = document.getElementById(SELECTED_CATALOGO + "_data_table");
		    var table_len = table.rows.length;
		    var row = table.insertRow(1).outerHTML = objCatalog.getRowBuild(table_len - 1, listas);
			//window.scrollTo(0, document.body.scrollHeight);
		}

        function guardarNuevo(row_id, id_add_button) {
        	row_id = row_id.substr(3);
        	objCatalog.assignar(row_id);
        	objCatalog.guardarNuevo();

			buttonAdd.enableButton(id_add_button);
		}

		function borrarNuevo(row_id, id_add_button) {
			row_id = row_id.substr(3);
		    document.getElementById("row_" + row_id).outerHTML = "";

			buttonAdd.enableButton(id_add_button);
		}

     	function guardarEditado(row_id) {
            row_id = row_id.substr(3);
            objCatalog.assignar(row_id);
            objCatalog.guardarEditado(row_id);
		}

		function borrar(row_id) {
            row_id = row_id.substr(3);
            objCatalog.borrar(row_id);
		}

		function guardarControlMinimos() {
			var control = new ControlProducto();
			control.asignar();
			control.actualizar();
		}

		$(".numericAllow").keypress(function(event) {
			var key = event.charCode || event.keyCode;
			if (isNaN(String.fromCharCode(event.which)) && key!=46 
				|| key===32 || key===13 
				|| (key===46 && event.currentTarget.innerText.includes('.'))) 
					event.preventDefault();
		});

		$(".stopSpaces").keypress(function(event) {
			var key = event.charCode || event.keyCode;
			console.log("'"+event.currentTarget.innerText+"'");
			console.log(/\s/.test(event.currentTarget.innerText));
			if (key === 13 || (key===32 && /\s/.test(event.currentTarget.innerText)))
					event.preventDefault();
		});
    </script>


		<div id="melanina_add" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">A単adir Melanina</h1>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="Nombre" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="Industria" name="Industria" placeholder="Industria">
					<br>
					<input class="form-control" type="text" id="Color" name="Color" placeholder="Color">
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>

		<div id="melanina_edit" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">Melanina a editar</h1>
				<select class="form-control edit-select" required onchange="getMelaninaToEdit(this.selectedIndex); return false;">
					<option value="c1">Blanco</option>
					<option value="c2">Noguera Caiena</option>
					<option value="c3">Carvhallo Evora</option>
					<option value="c4">Wengue Ravera B</option>
					<option value="c5">Blanco Berneck</option>
					<option value="c6">Nogueira</option>
					<option value="c7">Negro</option>
				</select>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="NombreE" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="IndustriaE" name="Industria" placeholder="Industria">
					<br>
					<select class="form-control" id="ColorE" onchange="getMelaninaToEditColor(); return false;">
						<option value="White">White</option>
						<option value="AliceBlue">AliceBlue</option>
						<option value="AntiqueWhite">AntiqueWhite</option>
						<option value="Aqua">Aqua</option>
						<option value="Aquamarine">Aquamarine</option>
						<option value="Azure">Azure</option>
						<option value="Beige">Beige</option>
						<option value="Bisque">Bisque</option>
						<option value="Black">Black</option>
						<option value="BlanchedAlmond">BlanchedAlmond</option>
						<option value="Blue">Blue</option>
						<option value="BlueViolet">BlueViolet</option>
						<option value="Brown">Brown</option>
					</select>
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaEditForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaEditForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>
	
		<div id="melanina_delete" class="col-md-4">
			<div class="form-group">
				<h1 class="form-label">Melanina a borrar</h1>
				<select class="form-control delete-select" required onchange="getMelaninaToDelete(this.selectedIndex); return false;">
					<option value="c1">Blanco</option>
					<option value="c2">Noguera Caiena</option>
					<option value="c3">Carvhallo Evora</option>
					<option value="c4">Wengue Ravera B</option>
					<option value="c5">Blanco Berneck</option>
					<option value="c6">Nogueira</option>
					<option value="c7">Negro</option>
				</select>
				<br>
				<form action="" method="get">
					<input class="form-control" type="text" id="NombreD" name="Nombre" placeholder="Nombre">
					<br>
					<input class="form-control" type="text" id="IndustriaD" name="Industria" placeholder="Industria">
					<br>
					<select class="form-control" id="ColorD" onchange="getMelaninaToEditColor(); return false;">
						<option value="White">White</option>
						<option value="AliceBlue">AliceBlue</option>
						<option value="AntiqueWhite">AntiqueWhite</option>
						<option value="Aqua">Aqua</option>
						<option value="Aquamarine">Aquamarine</option>
						<option value="Azure">Azure</option>
						<option value="Beige">Beige</option>
						<option value="Bisque">Bisque</option>
						<option value="Black">Black</option>
						<option value="BlanchedAlmond">BlanchedAlmond</option>
						<option value="Blue">Blue</option>
						<option value="BlueViolet">BlueViolet</option>
						<option value="Brown">Brown</option>
					</select>
					<br>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaDeleteForm(false); return false;">Guardar</button>
					<button class="submit-btn light-btn" onclick="DisplayMelaninaDeleteForm(false); return false;">Salir</button>
				</form>
			</div>
		</div>

		<footer>
			<%- include('../../partials/footer'); %>
		</footer>
</body>

</html>
