<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/icono'); %>
	<meta charset="utf-8">
	<title>Catalogos</title>
	<%- include('../partials/head'); %>
    <link rel="stylesheet" href="stylesheets/list.css">
    <style>
        td {
            padding: 2px;
            border: solid 1px #eee;
        }
        .list {
            font-family: sans-serif;
        }
        .sort {
            padding: 2px 5px;
        }
        .listado  {
                padding: 10px 50px 50px;
        }
        table.contenido tbody tr:nth-child(odd) {
            background: #73a9f9;
        }
        table.contenido tbody tr:nth-child(even) {
            background: #d4d7e1;
        }
        #table-body-contents {
            padding-top: 100px;
            padding-bottom: 40px;
        }
        th button {
            font-size: 13px;
        }
        tr.row-data td {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
        }
        #contenidos_menu {
			background-color: bisque;
		}
        .sort {
            height: 50px!important;
        }
        @media only screen and (max-width: 991px) {
            #table-body-contents {
                padding-top: 450px!important;
            }
        }
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <div id="table-body-contents">
        <h4>TAPACANTOS</h4>
        <div id="tapacantos" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="Provedor">Provedor</button></th>
                        <th class=""><button class="sort" data-sort="Medidas">Medidas</button></th>
                        <th class=""><button class="sort" data-sort="Color">Color</button></th>
                        <th class=""><button class="sort" data-sort="Marca">Marca</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompra">Precio de Compra</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVenta">Precio de Venta</button></th>
                        <th class=""><button class="sort" data-sort="MetrosXRollo">Metros x Rollo</button></th>
                        <th class=""><button class="sort" data-sort="RollosXCaja">Rollos x Caja</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompraXCaja">Precio de Compra x Caja</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVentaXCaja">Precio de Venta x Caja</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVentaXMetros">Precio de Venta x Metros</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVentaXMetrosCanteo">Precio de Venta x Metros Al Canteo</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  for (let index = tapacantos.length-1; index >= 0; index--) { 
                            let tapacanto = tapacantos[index];
                        %>
                        <tr class="row-data">
                            <td class="Provedor" id="<%=tapacantos[index].provedor_id %>"><%= tapacanto.provedor %></td>
                            <td class="Medidas" id="<%=tapacantos[index].medidas_id %>"><%= tapacanto.medidas %></td>
                            <td class="Color" id="<%=tapacantos[index].color_id %>"><%= tapacanto.color%></td>
                            <td class="Marca" id="<%=tapacantos[index].marca_id %>"><%= tapacanto.marca %></td>
                            <td class="PrecioCompra"><%= tapacanto.precio_compra %> Bs(rollo) </td>
                            <td class="PrecioVenta"><%= tapacanto.precio_venta %> Bs(rollo)</td>
                            <td class="MetrosXRollo"><%= tapacanto.metrosxrollo %></td>
                            <td class="RollosXCaja"><%= tapacanto.rollosxcaja %></td>
                            <td class="PrecioCompraXCaja"><%= tapacanto.precio_compra_caja?tapacanto.precio_compra_caja:'' %> Bs</td>
                            <td class="PrecioVentaXCaja"><%= tapacanto.precio_venta_caja?tapacanto.precio_venta_caja:'' %> Bs</td>
                            <td class="PrecioVentaXMetros"><%= tapacanto.precio_venta_metros %> Bs</td>
                            <td class="PrecioVentaXMetrosCanteo"><%= tapacanto.precio_venta_metros_canteo %> Bs</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <h4>MELAMINA</h4>
        <div id="melamina" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="Provedor">Provedor</button></th>
                        <th class=""><button class="sort" data-sort="Medidas">Medidas</button></th>
                        <th class=""><button class="sort" data-sort="Color">Color</button></th>
                        <th class=""><button class="sort" data-sort="Marca">Marca</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompra">Precio de Compra</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVenta">Precio de Venta</button></th>
                        <th class=""><button class="sort" data-sort="LaminaXPaquete">Lamina x Paquete</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  for (let index = melamina.length-1; index >= 0; index--) { %>
                        <tr class="">
                            <td class="Provedor" id="<%=melamina[index].provedor_id %>"><%= melamina[index].provedor %></td>
                            <td class="Medidas" id="<%=melamina[index].medidas_id %>"><%= melamina[index].medidas %></td>
                            <td class="Color" id="<%=melamina[index].color_id %>"><%= melamina[index].color%></td>
                            <td class="Marca" id="<%=melamina[index].marca_id %>"><%= melamina[index].marca %></td>
                            <td class="PrecioCompra"><%= melamina[index].precio_compra %> Bs(lamina) </td>
                            <td class="PrecioVenta"><%= melamina[index].precio_venta %> Bs(lamina)</td>
                            <td class="LaminaXPaquete"><%= melamina[index].laminaxpaquete %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <h4>PEGAMENTO</h4>
        <div id="pegamento" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="Provedor">Provedor</button></th>
                        <th class=""><button class="sort" data-sort="Marca">Marca</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompra">Precio de Compra</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVenta">Precio de Venta</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  for (let index = pegamento.length-1; index >= 0; index--) { %>
                        <tr class="">
                            <td class="Provedor" id="<%=pegamento[index].provedor_id %>"><%= pegamento[index].provedor %></td>
                            <td class="Marca" id="<%=pegamento[index].marca_id %>"><%= pegamento[index].marca %></td>
                            <td class="PrecioCompra"><%= pegamento[index].precio_compra %> Bs(lamina) </td>
                            <td class="PrecioVenta"><%= pegamento[index].precio_venta %> Bs(lamina)</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <h4>FONDO</h4>
        <div id="fondo" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="Provedor">Provedor</button></th>
                        <th class=""><button class="sort" data-sort="Medidas">Medidas</button></th>
                        <th class=""><button class="sort" data-sort="Color">Color</button></th>
                        <th class=""><button class="sort" data-sort="Marca">Marca</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompra">Precio de Compra</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVenta">Precio de Venta</button></th>
                        <th class=""><button class="sort" data-sort="LaminaXPaquete">Lamina x Paquete</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  for (let index = fondo.length-1; index >= 0; index--) { %>
                        <tr class="">
                            <td class="Provedor" id="<%=fondo[index].provedor_id %>"><%= fondo[index].provedor %></td>
                            <td class="Medidas" id="<%=fondo[index].medidas_id %>"><%= fondo[index].medidas %></td>
                            <td class="Color" id="<%=fondo[index].color_id %>"><%= fondo[index].color%></td>
                            <td class="Marca" id="<%=fondo[index].marca_id %>"><%= fondo[index].marca %></td>
                            <td class="PrecioCompra"><%= fondo[index].precio_compra %> Bs(lamina) </td>
                            <td class="PrecioVenta"><%= fondo[index].precio_venta %> Bs(lamina)</td>
                            <td class="LaminaXPaquete"><%= fondo[index].laminaxpaquete %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <h4>TAPATORNILLOS</h4>
        <div id="tapatornillos" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="Provedor">Provedor</button></th>
                        <th class=""><button class="sort" data-sort="Color">Color</button></th>
                        <th class=""><button class="sort" data-sort="Marca">Marca</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompra">Precio de Compra</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVenta">Precio de Venta</button></th>
                        <th class=""><button class="sort" data-sort="PrecioCompraCaja">Precio de Compra X Caja</button></th>
                        <th class=""><button class="sort" data-sort="PrecioVentaCaja">Precio de Venta X Caja</button></th>
                        <th class=""><button class="sort" data-sort="HojasXCaja">Hoja x Caja</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  let tapatornillo;
                        for (let index = tapatornillos.length-1; index >= 0; index--) { 
                            tapatornillo = tapatornillos[index];
                        %>
                        <tr class="row-data">
                            <td class="Provedor" id="<%=tapatornillo.provedor_id %>"><%= tapatornillo.provedor %></td>
                            <td class="Color" id="<%=tapatornillo.color_id %>"><%= tapatornillo.color%></td>
                            <td class="Marca" id="<%=tapatornillo.marca_id %>"><%= tapatornillo.marca %></td>
                            <td class="PrecioCompra"><%= tapatornillo.precio_compra %> Bs(Hoja) </td>
                            <td class="PrecioVenta"><%= tapatornillo.precio_venta %> Bs(Hoja)</td>
                            <td class="PrecioCompraCaja"><%= tapatornillo.precio_compra_caja %> Bs(Caja) </td>
                            <td class="PrecioVentaCaja"><%= tapatornillo.precio_venta_caja %> Bs(Caja)</td>
                            <td class="HojasXCaja"><%= tapatornillo.hojaxcaja %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <h5>CLIENTES</h5>
        <div id="cliente" class="listado">
            Busqueda: <input class="search" placeholder="Search" />
            <table class="contenido">
                <thead>
                    <tr class="row100 head">
                        <th class=""><button class="sort" data-sort="CI">CI</button></th>
                        <th class=""><button class="sort" data-sort="Nombre">Nombre</button></th>
                        <th class=""><button class="sort" data-sort="NIT">NIT</button></th>
                        <th class=""><button class="sort" data-sort="Telefono">Telefono</button></th>
                        <th class=""><button class="sort" data-sort="Direccion">Direccion</button></th>
                        <th class=""><button class="sort" data-sort="Email">Email</button></th>
                        <th class=""><button class="sort" data-sort="Tipo">Tipo</button></th>
                        <th class=""><button class="sort" data-sort="Empresa">Empresa</button></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <%  for (let index = cliente.length-1; index >= 0; index--) { %>
                        <tr class="">
                            <td class="CI"><%= cliente[index].ci %></td>
                            <td class="Nombre"><%= cliente[index].nombre %></td>
                            <td class="NIT"><%= cliente[index].nit %></td>
                            <td class="Telefono"><%= cliente[index].celular%></td>
                            <td class="Direccion"><%= cliente[index].direccion %></td>
                            <td class="Email"><%= cliente[index].email %></td>
                            <td class="Tipo"><%= cliente[index].tipo %></td>
                            <td class="Empresa"><%= cliente[index].empresa %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        var options_tapacantos = {
            valueNames: [ 'Provedor', 'Medidas','Color','Marca','PrecioCompra','PrecioVenta','MetrosXRollo','RollosXCaja','PrecioCompraXCaja','PrecioVentaXCaja','PrecioVentaXMetros' ]
        };
        var options_melamina = {
            valueNames: [ 'Provedor', 'Medidas','Color','Marca','PrecioCompra','PrecioVenta','LaminaXPaquete' ]
        };
        var options_pegamento = {
            valueNames: [ 'Provedor', 'Marca','PrecioCompra','PrecioVenta' ]
        };
        var options_fondo = {
            valueNames: [ 'Provedor', 'Medidas','Color','Marca','PrecioCompra','PrecioVenta','LaminaXPaquete' ]
        };
        var options_tapatornillos = {
            valueNames: [ 'Provedor', 'Color','Marca','PrecioCompra','PrecioVenta','PrecioCompraCaja','PrecioVentaCaja','HojasXCaja' ]
        };
        var options_cliente = {
            valueNames: [ 'CI', 'Nombre', 'NIT', 'Telefono', 'Direccion', 'Email', 'Tipo', 'Empresa' ]
        };

        var tapacantosList = new List('tapacantos', options_tapacantos);
        var melaminaList = new List('melamina', options_melamina);
        var pegamentoList = new List('pegamento', options_pegamento);
        var fondoList = new List('fondo', options_fondo);
        var fondoList = new List('tapatornillos', options_fondo);
        var clienteList = new List('cliente', options_cliente);

    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/jquery.steps.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>
</body>
</html>  