<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/icono'); %>
	<title>Historial</title>
	<%- include('../partials/head-table'); %>
	<style>
		#historial_menu {
			background-color: bisque;
		}
		#imprimir-historial {
			background-color: rgb(87, 19, 19);
			color: white;
			padding: 7px;
			float: right;
			border-radius: 6px;
		}
		#imprimir-historial:hover {
			background-color: brown;
		}
		#historial-header-printer {
			display: none;
		}
		input {
    		display: initial!important;
		}
		select {
			padding: 9px;
			border-radius: 6px;
		}
		.body {
			background-color: #222;
		}
		.th_history {
			padding: 0px!important;
			text-align: center;
		}
		.sort {
    		padding: 8px 4px!important;
		}
		.td_history {
			text-align: center;
			color: rgb(162, 161, 161);
		}
		.table-hover tbody tr:hover td{
			color: black;
			background-color: bisque;
		}	
		.limiter {
			padding-top: 100px!important;
		}
		body {
			background-color: rgb(162, 161, 161)!important;
		}
		@media only screen and (max-width: 991px) {
			.limiter {
				padding-top: 450px!important;
			}
		}
		
	</style>
</head>
<body>
  <header>
	<%- include('../partials/header'); %>
  </header>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100" id="historial">
				<span><%-historial.length %> transacciones</span>
				<input class="search" placeholder="Filtro" />
				<select id="select-mes" placeholder="Filtro por mes" onchange="selectMes(this)">
					<option value="">(Elija un mes)</option>
					<option value="01">Enero</option>
					<option value="02">Febrero</option>
					<option value="03">Marzo</option>
					<option value="04">Abril</option>
					<option value="05">Mayo</option>
					<option value="06">Junio</option>
					<option value="07">Julio</option>
					<option value="08">Agosto</option>
					<option value="09">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>
				</select>
				<button type="button" id="imprimir-historial" onclick="imprimirHistorial()">Imprimir</button>

				<div class="table-responsive" id="historial-frame">
					<table class="table table-hover" style="font-size: 12px;color:white;">
						<thead style="background-color: #43ccba;" id="head-sort">
							<tr>
								<th class="th_history"><button class="sort" data-sort="Cliente">Cliente</button></th>
								<th class="th_history"><button class="sort" data-sort="Item">Item</button></th>
								<th class="th_history"><button class="sort" data-sort="Tipo">Tipo</button></th>
								<th class="th_history"><button class="sort" data-sort="Timestamp">Timestamp</button></th>
								<th class="th_history"><button class="sort" data-sort="Color">Color</button></th>
								<th class="th_history"><button class="sort" data-sort="Medida">Medida</button></th>
								<th class="th_history"><button class="sort" data-sort="Marca">Marca</button></th>
								<th class="th_history"><button class="sort" data-sort="Unidad">Unidad</button></th>
								<th class="th_history"><button class="sort" data-sort="Cantidad">Cantidad</button></th>
								<th class="th_history"><button class="sort" data-sort="Precio">Precio</button></th>
							</tr>
						</thead>
						<thead id="historial-header-printer">
							<tr class="row100 head">
								<th class="th_history">Cliente</th>
								<th class="th_history">Item</th>
								<th class="th_history">Tipo</th>
								<th class="th_history">Timestamp</th>
								<th class="th_history">Color</th>
								<th class="th_history">Medida</th>
								<th class="th_history">Marca</th>
								<th class="th_history">Unidad</th>
								<th class="th_history">Cantidad</th>
								<th class="th_history">Precio</th>
							</tr>
						</thead>
						<tbody class="list">
							<% for (let index = historial.length-1; index >= 0; index--) {
								var [fecha,hora] = (historial[index].fecha).split(" ");
								var [dia,mes,annio] = fecha.split("/");
							%>
							<tr class="row100 body <%= 'Hist' + mes %>">
								<td class="td_history Cliente"><%= historial[index].cliente %></td>
								<td class="td_history Item"><%= historial[index].item %></td>
								<td class="td_history Tipo"><%= (historial[index].tipo_entrada == 'ingreso')?'Compra':'Venta' %></td>
								<td class="td_history Timestamp"><%= historial[index].fecha %></td>
								<td class="td_history Color"><%= historial[index].color %></td>
								<td class="td_history Medida"><%= historial[index].medida %></td>
								<td class="td_history Marca"><%= historial[index].marca %></td>
								<td class="td_history Unidad"><%= historial[index].nombreDeUnidad %><%= historial[index].canteo?' con canteo':'' %></td>
								<td class="td_history Cantidad"><%= historial[index].cantidad %></td>
								<td class="td_history Precio"><%= (historial[index].tipo_entrada == 'ingreso')?historial[index].precioCompra:historial[index].precioVenta %></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
<hr>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

	<script>
		var blacking = function(item) {
			item.style.color = "black";
			item.style.textAlign = "center";
			item.style.borderTop = "1px solid";
		};
		var greying = function(item) {
			item.style.color = "#A2A1A1";
		};

		var options = {
			valueNames: [ 'Cliente', 'Item', 'Tipo', 'Timestamp', 'Color', 'Medida', 'Marca', 'Unidad', 'Cantidad', 'Precio' ],
		};

		var userList = new List('historial', options);

		function imprimirHistorial() {
			document.getElementById("head-sort").style.display="none";
			document.getElementById("historial-header-printer").style.display="table-header-group";
			let head = document.getElementsByClassName("th_history");
			let rows = document.getElementsByClassName("td_history");
			[].forEach.call(head, blacking);
			[].forEach.call(rows, blacking);

			var printData = document.getElementById("historial-frame");
			newWindow = window.open("");
			newWindow.document.write(printData.outerHTML);
			newWindow.print();
			newWindow.close();

			document.getElementById("historial-header-printer").style.display="none";
			document.getElementById("head-sort").style.display="table-header-group";
			[].forEach.call(head, greying);
			[].forEach.call(rows, greying);
		}

		function selectMes(selectBox) {
			var mes = selectBox.value;
			var mesCodes=["01","02","03","04","05","06","07","08","09","10","11","12"];

			mesCodes.forEach((mesCode) => {
				var Row = document.getElementsByClassName("Hist" + mesCode);
				for (var index = 0; index < Row.length; index++) {
					var filterCondition = (mesCode == mes) || (mes == "");
					Row[index].style.visibility = filterCondition ? "visible" : "hidden";
					Row[index].style.display = filterCondition ? "table-row" : "none";
				}
			});
		}

	</script>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</body>
</html>