<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/icono'); %>
	<title>Historial</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/list.css">
	<%- include('../partials/head'); %>

	<style>
		#historial_menu {
			background-color: bisque;
		}
		#imprimir-historial {
			background-color: rgb(87, 19, 19);
			color: white;
			padding: 7px;
			float: right;
			border-radius: 6px;
		}
		#imprimir-historial:hover {
			background-color: brown;
		}
		#historial-header-printer {
			display: none;
		}
		input {
    		display: initial!important;
		}
		select {
			padding: 9px;
			border-radius: 6px;
		}
		.body {
			background-color: #222;
		}
		.th_history {
			padding: 0px!important;
			text-align: center;
		}
		.sort {
    		padding: 8px 4px!important;
		}
		.td_history {
			text-align: center;
			color: rgb(162, 161, 161);
		}
		.table-hover tbody tr:hover td{
			color: black;
			background-color: bisque;
		}	
		.limiter {
			padding-top: 100px!important;
		}
		body {
			background-color: rgb(162, 161, 161)!important;
		}
		.td_history {
			border-top: 1px solid #4a4c50!important;
		}
	</style>
</head>
<body>
  <header>
	<%- include('../partials/header'); %>
  </header>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100" id="historial">
				<div class="inner">
					<div class="form-row">
						<div class="form-holder form-holder-2">
							<span><%-historial.length %> transacciones realizadas.</span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder form-holder-2" style="width: 25%;">
							<input style="width: 80%;" class="search form-control" placeholder="Filtro" />
						</div>
						<div class="form-holder form-holder-2" style="width: 25%;">
							<select style="width: 70%;" class="form-control" id="select-mes" placeholder="Filtro por mes" onchange="selectMes(this)">
								<option value="">(Elija un mes)</option>
								<option value="01">Enero</option>
								<option value="02">Febrero</option>
								<option value="03">Marzo</option>
								<option value="04">Abril</option>
								<option value="05">Mayo</option>
								<option value="06">Junio</option>
								<option value="07">Julio</option>
								<option value="08">Agosto</option>
								<option value="09">Septiembre</option>
								<option value="10">Octubre</option>
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>
							</select>
						</div>
						<div class="form-holder form-holder-2" style="width: 50%;">
							<button style="width: 30%;float:right;" class="form-control" type="button" id="imprimir-historial" onclick="imprimirHistorial()">Imprimir</button>
						</div>
					</div>
				</div>
				<div class="table-responsive" id="historial-frame">
					<table class="table table-hover" style="font-size: 12px;color:white;" id="historial-table">
						<thead style="background-color: #43ccba;" id="head-sort">
							<tr>
								<th class="th_history"><button class="sort" data-sort="Cliente">Cliente</button></th>
								<th class="th_history"><button class="sort" data-sort="Item">Item</button></th>
								<th class="th_history"><button class="sort" data-sort="Tipo">Tipo</button></th>
								<th class="th_history"><button class="sort" data-sort="Timestamp">Timestamp</button></th>
								<th class="th_history"><button class="sort" data-sort="Color">Color</button></th>
								<th class="th_history"><button class="sort" data-sort="Medida">Medida</button></th>
								<th class="th_history"><button class="sort" data-sort="Marca">Marca</button></th>
								<th class="th_history"><button class="sort" data-sort="Unidad">Unidad</button></th>
								<th class="th_history"><button class="sort" data-sort="Cantidad">Cantidad</button></th>
								<th class="th_history"><button class="sort" data-sort="Compra">Compra</button></th>
								<th class="th_history"><button class="sort" data-sort="Venta">Venta</button></th>
							</tr>
						</thead>
						<thead id="historial-header-printer">
							<tr class="row100 head">
								<th class="th_history">Cliente</th>
								<th class="th_history">Item</th>
								<th class="th_history">Tipo</th>
								<th class="th_history">Timestamp</th>
								<th class="th_history">Color</th>
								<th class="th_history">Medida</th>
								<th class="th_history">Marca</th>
								<th class="th_history">Unidad</th>
								<th class="th_history">Cantidad</th>
								<th class="th_history">Compra</th>
								<th class="th_history">Venta</th>
							</tr>
						</thead>
						<tbody class="list">
							<% for (let index = historial.length-1; index >= 0; index--) {
								var [fecha,hora] = (historial[index].fecha).split(" ");
								var [dia,mes,annio] = fecha.split("/");
							%>
							<tr class="row100 body <%= 'Hist' + mes %>">
								<td class="td_history Cliente"><%= historial[index].cliente %></td>
								<td class="td_history Item"><%= historial[index].item %></td>
								<td class="td_history Tipo"><%= (historial[index].tipo_entrada == 'ingreso')?'Compra':'Venta' %></td>
								<td class="td_history Timestamp"><%= historial[index].fecha %></td>
								<td class="td_history Color"><%= historial[index].color %></td>
								<td class="td_history Medida"><%= historial[index].medida %></td>
								<td class="td_history Marca"><%= historial[index].marca %></td>
								<td class="td_history Unidad"><%= historial[index].nombreDeUnidad %><%= historial[index].canteo?' con canteo':'' %></td>
								<td class="td_history Cantidad"><%= historial[index].cantidad %></td>
								<td class="td_history Compra" title="<%= mes %>"><%=historial[index].precioCompra %></td>
								<td class="td_history Venta" title="<%= mes %>"><%=historial[index].precioVenta %></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
<hr>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

	<script>
		var SelectedMes = null;/*Verify if it has the Valuie to filter the Suming*/
		var blacking = function(item) {
			item.style.color = "black";
			item.style.textAlign = "center";
			item.style.borderTop = "1px solid";
		};

		var greying = function(item) {
			item.style.color = "#A2A1A1";
		};

		var options = {
			valueNames: [ 'Cliente', 'Item', 'Tipo', 'Timestamp', 'Color', 'Medida', 'Marca', 'Unidad', 'Cantidad', 'Precio', 'Compra', 'Venta' ],
		};

		var userList = new List('historial', options);

		function imprimirHistorial() {
			
			//sum all the compra & venta
			var table = document.getElementById("historial-table");

			var compra = 0;
			[].forEach.call(table.getElementsByClassName('Compra'), (item) => {
				if (SelectedMes && SelectedMes != item.title) {
					return;
				}
				if (item.innerText.trim().length && !isNaN(item.innerText)) {
					compra += parseInt(item.innerText);
				}
			});
			var venta = 0;
			[].forEach.call(table.getElementsByClassName('Venta'), (item) => {
				if (SelectedMes && SelectedMes != item.title) {
					return;
				}
				if (item.innerText.trim().length && !isNaN(item.innerText)) {
					venta += parseInt(item.innerText);
				}
			});

		    var table_len = table.rows.length;
		    var row = table.insertRow(table_len).outerHTML = 
			`<tr id='totales'>
				<td class='td_history' colspan="9"></td>
				<td class='td_history'>${compra}</td>
				<td class='td_history'>${venta}</td>
			</tr>`;

			//format all
			document.getElementById("historial-table").style.borderSpacing = "0px";
			document.getElementById("head-sort").style.display="none";
			document.getElementById("historial-header-printer").style.display="table-header-group";
			let head = document.getElementsByClassName("th_history");
			let rows = document.getElementsByClassName("td_history");
			[].forEach.call(head, blacking);
			[].forEach.call(rows, blacking);

			
			//print
			var printData = document.getElementById("historial-frame");
			newWindow = window.open("");
			newWindow.document.write(printData.outerHTML);
			newWindow.print();
			newWindow.close();

			//remove all printing setup and format
			document.getElementById("historial-header-printer").style.display="none";
			document.getElementById("head-sort").style.display="table-header-group";
			[].forEach.call(head, greying);
			[].forEach.call(rows, greying);

			document.getElementById("totales").outerHTML = "";
		}

		function selectMes(selectBox) {
			var mes = selectBox.value;
			SelectedMes = mes.length ? mes : null;
			var mesCodes = ["01","02","03","04","05","06","07","08","09","10","11","12"];

			mesCodes.forEach((mesCode) => {
				var Row = document.getElementsByClassName("Hist" + mesCode);
				for (var index = 0; index < Row.length; index++) {
					var filterCondition = (mesCode == mes) || (mes == "");
					Row[index].style.visibility = filterCondition ? "visible" : "hidden";
					Row[index].style.display = filterCondition ? "table-row" : "none";
				}
			});
		}

	</script>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</body>
</html>