<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/icono'); %>
	<meta charset="utf-8">
	<title>Ingresos</title>
	<%- include('../partials/head-compras-ventas'); %>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/stylein.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script>
        var provedor_items = <%- JSON.stringify(provedor); %>;
        var item_color = <%- JSON.stringify(color); %>;
        var item_medida = <%- JSON.stringify(medida); %>;
        var item_marca = <%- JSON.stringify(marca); %>;
        var item_unidad = <%- JSON.stringify(unidad); %>;
        var items = <%- JSON.stringify(items); %>;
        var item_inventario = <%- JSON.stringify(inventario); %>;

        function fetchProducto(key) {
			let indexHash = CryptoJS.MD5(key.item + key.provedor + key.color + key.medida + key.marca);
			let h = indexHash.toString();
			return item_inventario[h];
		}

    </script>
    <style>
        footer {
			background-color: #2f7d8f;
		}
        .text-muted {
            color: #9fadb9!important;
        }
		#compras_menu {
			background-color: bisque;
		}

        .vineta{
			position:relative;
			width: 100%;
			max-width: 600px;
			height: calc(100vh - 30px);
			max-height: 600px;
			/*Opcionalmente con box-shadow, creamos varias sombras, para simular un marco*/
			box-shadow: 
				0 0 0 1px black,
				0 0 0 6px white,
				0 0 0 7px black;
		}

		.globo{
			/*position: absolute;*/
			text-transform: uppercase;
			font-size: 12px;
			border-radius: var(--borde);
			padding: var(--borde);
			--borde: 1em;
			font-family: sans-serif;
			z-index: 1; 
			background-color: white;
			filter: drop-shadow(0px 0px 1px black) ;
		}

		.globo::before{
			content: '';
			position: absolute; 
			z-index: -1;
			width: var(--colita);
			height: var(--colita);
		}

		.globo.derecha-arriba::before{
			--colita: 20px;
			top: 10px;
			right: calc( var(--colita) / -1.5);
			transform: skewY(30deg) rotateZ(-120deg);
			border-radius: 0 0 0 10em;
			box-shadow: 
				inset calc(var(--colita)/2) calc(var(--colita)/3) 0 0 white;
		}
		@keyframes cambio-color{
			45%,55% { 
				background-color: rgba(255,255,255,0); 
				color: white;
			}
		}
		#precio-globo-mensajes {
			position: fixed;
		}
		.button-globo {
			color:green;
			text-align:left;
		}

	</style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
	<div id="conta" class="page-content">
		<div class="melaminapro-heading">Formulario de Ingreso de materiales</div>
		<div class="melaminapro-v6-content">
			<div class="melaminapro-form">
		        <form class="form-register" id="form-register" action="addicionar_ingreso" method="POST">
		        	<div id="form-total" role="application" class="wizard clearfix">
                        <div class="steps clearfix">
                            <ul role="tablist">
                                <li role="tab" aria-disabled="false" class="first last current" aria-selected="true">
                                    <a id="form-total-t-0" aria-controls="form-total-p-0">
                                        <div class="title">
                                            <p class="step-icon"><span></span></p>
                                            <span class="step-text">Nuevo Ingreso <input style="border: 0px;" id="timestamp1" name="timestamp1" value="" readonly=""></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content clearfix">
                            <section id="form-total-p-0" role="tabpanel" aria-labelledby="form-total-h-0" class="body current" aria-hidden="false">
                                <div class="inner">
                                    <div class="form-images">
                                        <img src="images/provedor.jpg">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder form-holder-2">
                                            <label for="ingreso" class="special-label-1">Ingreso del dia #
                                            <input class="form-control" type="text" id="ingreso" value="<%- historial.length + 1 %>" readonly>
                                            </label>
                                        </div>
                                        <div class="form-holder form-holder-2">
                                            <label for="room" class="special-label-1">Provedor</label>
                                            <select name="provedor" id="provedor" class="form-control verify" onchange="selectProvedor()">
                                                <option value="" selected="">(Elija el provedor)</option>
                                                <% for(let index = 0; index < provedor.length; index++) {%>
                                                <option value="<%= provedor[index]._id.toString() %>"><%= provedor[index].nombre %></option>
                                                <% } %>
                                            </select>
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder form-holder-2">
                                            <label for="room" class="special-label-1">Item</label>
                                            <select name="item" id="item" class="form-control verify" onchange="selectItem(this)">
                                                <option value="" selected="">(Elija el item)</option>
                                                <% for (let index = 0; index < item.length; index++) { 
                                                       if (item[index].tipo != "servicio") { %>
                                                    <option value="<%= item[index]._id.toString() %>"><%= item[index].nombre %></option>
                                                <%     }
                                                  } %>
                                            </select>
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                        <div class="form-holder form-holder-2" id="divcolor">
                                            <label for="room" class="special-label-1">Color</label>
                                            <select name="color" id="color" class="form-control verify">
                                                <option value="" selected="">(Escoja el color)</option>
                                                <% for(let index = 0; index < color.length; index++) {%>
                                                    <option style="background: <%= color[index].codigo %>;" 
                                                        value="<%= color[index]._id.toString() %>">
                                                        <%= color[index].nombre %>
                                                    </option>
                                                <% } %>
                                            </select>
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                        <div class="form-holder form-holder-2" id="divmedida">
                                            <label for="room" class="special-label-1">Medida</label>
                                            <select name="medida" id="medida" class="form-control verify">
                                                <option value="" selected="">(Elija las medidas)</option>
                                                <% for(let index = 0; index < medida.length; index++) {%>
                                                    <option value="<%= medida[index]._id.toString() %>"><%= medida[index].nombre %></option>
                                                <% } %>
                                            </select>
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                        <div class="form-holder form-holder-2" id="divmarca">
											<label for="marca" class="special-label-1">Marca</label>
											<select name="marca" id="marca" class="form-control verify">
												<option value="" selected="">(Elija la marca)</option>
                                                <% for(let index = 0; index < marca.length; index++) {%>
                                                    <option value="<%= marca[index]._id.toString() %>"><%= marca[index].nombre %></option>
                                                <% } %>
											</select>
											<span class="select-btn">
												<i class="zmdi zmdi-chevron-down"></i>
											</span>
										</div>
                                    </div>
                                    <div class="form-row">
										<div class="form-holder form-holder-2">
											<label id="product_message" for="room" class="special-label-1">____________________________________</label>
										</div>
									</div>
                                    <div class="form-row">
                                        <div class="form-holder form-holder-2">
                                            <label for="cantidad" class="special-label-1">Cantidad</label>
                                            <input type="number" id="cantidad" name="cantidad" min="1" max="40" class="form-control" value="1">
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                        <div class="form-holder form-holder-2">
                                            <label for="room" class="special-label-1">Unidad</label>
                                            <select name="unidad" id="unidad" class="form-control">
                                                <option value="" selected="">(Elija la unidad)</option>
                                            </select>
                                            <p class="globo ii derecha-arriba" style="white-space: pre-line" id="precio-globo-mensajes" onclick="cerrarGloboMensaje()"></p> 
                                            <span class="select-btn">
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </span>
                                        </div>
                                        <div class="form-holder form-holder-2">
                                            <label for="precio" class="special-label-1">Precio(Bs)<a class="precio" onclick="obtenerPrecioStandard()">Cargar Standard</a></label>
                                            <input name="precio" id="precio" class="form-control" value="0.0">
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="buttonG" onclick="toPrintHistory()">Inprimir Historial</div>
		        	    </div>
                        <div class="actions clearfix">
                            <ul role="menu" aria-label="Pagination">
                                <li class="disabled"><a></a></li>
                                <li aria-hidden="false"><a role="menuitem" style="cursor:pointer;" onclick="GuardarIngreso();">Guardar</a></li>
                            </ul>
                        </div>
                    </div>
		        </form>
                <div style="padding-right: 30px;padding-left: 30px;">
					<div class="table-responsive">
						<table class="table table-hover" style="font-size: 12px;color:white;" id="historial_ingresos">
							<thead id="history-head" style="background-color: #32998b;">
								<tr>
									<th>#</th>	
									<th>Fecha</th>
									<th>Hora</th>
									<th>Provedor</th>
									<th>Item</th>
									<th>Color</th>
									<th>Medida</th>
									<th>Marca</th>
									<th>Unidad</th>
									<th>Cantidad</th>
									<th>Compra(Bs)</th>
								</tr>
							</thead>
							<tbody id="history-body">
                            <% var gastoTotal = 0;
                                for (let i = historial.length-1; i >= 0; i--) {
                                    var [fecha, hora] = historial[i].fecha.split(" ");
                                    gastoTotal = gastoTotal + Number(historial[i].precioCompra);
                                %>
							<tr>
								<td><%= historial.length - i %></td>
								<td><%= fecha %></td>
								<td><%= hora %></td>
								<td><%= historial[i].cliente %></td>
								<td><%= historial[i].item %></td>
								<td><%= historial[i].color %></td>
								<td><%= historial[i].medida %></td>
								<td><%= historial[i].marca %></td>
								<td><%= historial[i].nombreDeUnidad %></td>
								<td><%= historial[i].cantidad %></td>
								<td><%= historial[i].precioCompra %> Bs</td>
							</tr>
						<% } %>
						<% if (gastoTotal > 0) { %>
							<tr>
								<td colspan="10"></td>
								<td class="row-small"><%=gastoTotal %> Bs</td>
							</tr>
						<% } %>
							</tbody>
						</table>
					</div>
                </div>
			</div>
		</div>
	</div>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/jquery.steps.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/ingreso.js"></script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>