<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventario - Producto</title>
  <%- include('../partials/head-table'); %>
  <style>
    .wrap-table100 {
        width: 1000px!important;
    }
    #inventario_mensaje {
        color: rgb(145, 223, 195);
    }
    #busqueda_general_label {
        color: rgb(248, 250, 249);
    }
    #busqueda_general {
        display: inline!important;
    }
    #inventario_menu {
		background-color: bisque;
	}
    </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>
    <% function obtenerTipo(metros) {
            var tipo = "Tapacantos";
            var unidad = "rollos";
            if (metros <= 0 ) {
                if (metros == -1) {
                    tipo = "Pegamento";
                    unidad = "bolsas";
                } else if (metros == -2) {
                    tipo = "Fondo";
                    unidad = "laminas";
                } else if (metros == -3) {
                    tipo = "Melamina";
                    unidad = "laminas";
                }
                metros = '';
            }
            return [tipo, unidad, metros];
    } %>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100" id="historial">
                <span id="inventario_mensaje">Inventario actualizado con <%-inventario.length %> items</span><br><br>
                <label id="busqueda_general_label" for="busqueda_general">Busqueda:<input id="busqueda_general" class="search" placeholder="Search" /></label>
                <div class="table100 ver3 m-b-110" >
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column6"><button class="sort" data-sort="Tipo">Tipo</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Color">Color</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Medida">Medida</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Marca">Marca</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Existencia">Existencia</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Metros">Metros</button></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll ps ps--active-y">
                        <table>
                            <tbody class="list">
                            <%
                                for (let index = inventario.length-1; index >= 0; index--) {
                                    var metraje = inventario[index].metraje;
                                    var [tipo, unidad, metros] = obtenerTipo(metraje);
                                    var codigo = inventario[index].codigo;

                                    var color = producto[codigo].color;
                                    var medida = producto[codigo].medidas;
                                    var marca = producto[codigo].marca;

                                    console.log(tipo);
                                    var alerta = (inventario[index].existencia <= control[tipo].minimo) ? 'talert' : '';
                                %>
                                <tr class="row100 body <%- alerta%>">
                                    <td class="cell100 column6 <%- alerta%> Tipo"><%= tipo %></td>
                                    <td class="cell100 column6 <%- alerta%> Color"><%= color %></td>
                                    <td class="cell100 column6 <%- alerta%> Medida"><%= medida %></td>
                                    <td class="cell100 column6 <%- alerta%> Marca"><%= marca %></td>
                                    <td class="cell100 column6 <%- alerta%> Existncia"><%= inventario[index].existencia %> <%= unidad%></td>
                                    <td class="cell100 column6 <%- alerta%> Metros"><%= metros %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                            </div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 585px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 291px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/jquery-3.3.1.min.js"></script>

    <script src="javascripts/popper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/select2.min.js"></script>

    <script src="javascripts/perfect-scrollbar.min.js"></script>
    <script>
            $('.js-pscroll').each(function(){
                var ps = new PerfectScrollbar(this);

                $(window).on('resize', function(){
                    ps.update();
                })
            });
        </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="javascripts/main_historial.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script>
        var options = {
            valueNames: [ 'Tipo', 'Color', 'Medida', 'Marca', 'Existencia', 'Metros' ],
        };

        var userList = new List('historial', options);
    </script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>