<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventario - Producto</title>
  <%- include('../partials/head-table'); %>
  <style>
    .wrap-table100 {
        width: 1000px!important;
    }
    #inventario_mensaje {
        color: rgb(145, 223, 195);
    }
    #busqueda_general_label {
        color: rgb(248, 250, 249);
    }
    #busqueda_general {
        display: inline!important;
    }
    #inventario_menu {
		background-color: bisque;
	}
    </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100" id="historial">
                <span id="inventario_mensaje">Inventario actualizado con <%-size %> items</span><br><br>
                <label id="busqueda_general_label" for="busqueda_general">Busqueda:<input id="busqueda_general" class="search" placeholder="Search" /></label>
                <div class="table100 ver3 m-b-110" >
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column6"><button class="sort" data-sort="Tipo">Tipo</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Color">Color</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Medida">Medida</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Marca">Marca</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Existencia">Existencia</button></th>
                                <th class="cell100 column6"><button class="sort" data-sort="Metros">Metros</button></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll ps ps--active-y">
                        <table>
                            <tbody class="list">
                            <%  for (let index = melamina.length - 1; index >= 0; index--) {
                                    var producto = melamina[index];
                                    var alerta = (producto.existencia <= control["Melamina"].minimo) ? 'talert' : '';
                                %>
                                <tr class="row100 body <%- alerta%>">
                                    <td class="cell100 column6 <%- alerta%> Tipo">Melamina (min: <%= control["Melamina"].minimo%>)</td>
                                    <td class="cell100 column6 <%- alerta%> Color"><%= producto.color %></td>
                                    <td class="cell100 column6 <%- alerta%> Medida"><%= producto.medidas %></td>
                                    <td class="cell100 column6 <%- alerta%> Marca"><%= producto.marca %></td>
                                    <td class="cell100 column6 <%- alerta%> Existncia"><%= producto.existencia %> laminas</td>
                                    <td class="cell100 column6 <%- alerta%> Metros"></td>
                                </tr>
                            <% } %>
                            <%  for (let index = tapacantos.length - 1; index >= 0; index--) {
                                    var producto = tapacantos[index];
                                    var alerta = (producto.existencia <= control["Tapacantos"].minimo) ? 'talert' : '';
                                %>
                                <tr class="row100 body <%- alerta%>">
                                    <td class="cell100 column6 <%- alerta%> Tipo">Tapacantos (min: <%= control["Tapacantos"].minimo%>)</td>
                                    <td class="cell100 column6 <%- alerta%> Color"><%= producto.color %></td>
                                    <td class="cell100 column6 <%- alerta%> Medida"><%= producto.medidas %></td>
                                    <td class="cell100 column6 <%- alerta%> Marca"><%= producto.marca %></td>
                                    <td class="cell100 column6 <%- alerta%> Existncia"><%= producto.existencia %> rollos</td>
                                    <td class="cell100 column6 <%- alerta%> Metros"><%= producto.metraje %> Mt</td>
                                </tr>
                            <% } %>
                            <%  for (let index = pegamento.length - 1; index >= 0; index--) {
                                var producto = pegamento[index];
                                var alerta = (producto.existencia <= control["Pegamento"].minimo) ? 'talert' : '';
                            %>
                            <tr class="row100 body <%- alerta%>">
                                <td class="cell100 column6 <%- alerta%> Tipo">Pegamento (min: <%= control["Pegamento"].minimo%>)</td>
                                <td class="cell100 column6 <%- alerta%> Color"><%= producto.color %></td>
                                <td class="cell100 column6 <%- alerta%> Medida"><%= producto.medidas %></td>
                                <td class="cell100 column6 <%- alerta%> Marca"><%= producto.marca %></td>
                                <td class="cell100 column6 <%- alerta%> Existncia"><%= producto.existencia %> bolsas</td>
                                <td class="cell100 column6 <%- alerta%> Metros"></td>
                            </tr>
                            <% } %>
                            <%  for (let index = fondo.length - 1; index >= 0; index--) {
                                var producto = fondo[index];
                                var alerta = (producto.existencia <= control["Fondo"].minimo) ? 'talert' : '';
                            %>
                            <tr class="row100 body <%- alerta%>">
                                <td class="cell100 column6 <%- alerta%> Tipo">Fondo (min: <%= control["Fondo"].minimo%>)</td>
                                <td class="cell100 column6 <%- alerta%> Color"><%= producto.color %></td>
                                <td class="cell100 column6 <%- alerta%> Medida"><%= producto.medidas %></td>
                                <td class="cell100 column6 <%- alerta%> Marca"><%= producto.marca %></td>
                                <td class="cell100 column6 <%- alerta%> Existncia"><%= producto.existencia %> laminas</td>
                                <td class="cell100 column6 <%- alerta%> Metros"></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                            </div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 585px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 291px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/jquery-3.3.1.min.js"></script>

    <script src="javascripts/popper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/select2.min.js"></script>

    <script src="javascripts/perfect-scrollbar.min.js"></script>
    <script>
            $('.js-pscroll').each(function(){
                var ps = new PerfectScrollbar(this);

                $(window).on('resize', function(){
                    ps.update();
                })
            });
        </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="javascripts/main_historial.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script>
        var options = {
            valueNames: [ 'Tipo', 'Color', 'Medida', 'Marca', 'Existencia', 'Metros' ],
        };

        var userList = new List('historial', options);
    </script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>