<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/icono'); %>
    <title>Inventario - Producto</title>
  <%- include('../partials/head-table'); %>
  <style>
    #inventario_mensaje {
        color: rgb(64, 107, 92);
    }
    #inventario_menu {
		background-color: bisque;
	}

    td {
        padding: 2px;
        border: solid 1px #eee;
    }
    .list {
        font-family: sans-serif;
    }
    .sort {
        padding: 2px 5px;
    }
    .listado  {
            padding: 70px 50px 50px;
    }
    table.contenido tbody tr:nth-child(odd) {
        background: #73a9f9;
    }
    table.contenido tbody tr:nth-child(even) {
        background: #d4d7e1;
    }
    #table-body-contents {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    th button {
        font-size: 13px;
    }
    tr.row-data td {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }

    </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

    <div id="inventario" class="listado">
        <span id="inventario_mensaje">Inventario actualizado con <%-size %> items</span><br><br>
        Busqueda: <input class="search" placeholder="Search" />
        <table class="contenido">
            <thead>
                <tr class="row100 head">
                    <th class="cell100 column6"><button class="sort" data-sort="Tipo">Tipo</button></th>
                    <th class="cell100 column6"><button class="sort" data-sort="Color">Color</button></th>
                    <th class="cell100 column6"><button class="sort" data-sort="Medida">Medida</button></th>
                    <th class="cell100 column6"><button class="sort" data-sort="Marca">Marca</button></th>
                    <th class="cell100 column6"><button class="sort" data-sort="Existencia">Existencia</button></th>
                    <th class="cell100 column6"><button class="sort" data-sort="Metros">Metros</button></th>
                </tr>
            </thead>
            <tbody class="list">
                <%  Object.keys(inventario).forEach(attribute => {
                    let producto = inventario[attribute];
                    if (typeof producto !== 'function') {
                        if (!producto.nombre) {
                            console.log("Codigo huerfano: ", producto.codigo);
                        } else {
                            var alerta = (producto.existencia <= control[producto.nombre].minimo) ? 'talert' : '';
                %>
                <tr class="row100 body <%- alerta%>">
                    <td class="cell100 column6 <%- alerta%> Tipo"><%= producto.nombre %> (min: <%= control[producto.nombre].minimo%>)</td>
                    <td class="cell100 column6 <%- alerta%> Color"><%= producto.item.color ? colores[producto.item.color].nombre : '' %></td>
                    <td class="cell100 column6 <%- alerta%> Medida"><%= producto.item.medidas ? medidas[producto.item.medidas].nombre : '' %></td>
                    <td class="cell100 column6 <%- alerta%> Marca"><%= marcas[producto.item.marca].nombre %></td>
                    <td class="cell100 column6 <%- alerta%> Existencia"><%= producto.existencia %> <%= producto.unidad %></td>
                    <td class="cell100 column6 <%- alerta%> Metros"><%= (producto.metraje>=0)?producto.metraje+' Metros':'' %></td>
                </tr>
            <% } } }); %>
            </tbody>
        </table>
    </div>

    <script src="javascripts/jquery-3.3.1.min.js"></script>

    <script src="javascripts/popper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script>
        var options = {
            valueNames: [ 'Tipo', 'Color', 'Medida', 'Marca', 'Existencia', 'Metros' ],
        };

        var userList = new List('inventario', options);
    </script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>