<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/icono'); %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Catalogo - Melamina Pro (Corte y Tapacanto)</title>
	<%- include('../partials/head-compras-ventas'); %>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/catalogo-cliente.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
</head>
<body>
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
            <div class=" d-flex"> 
                <a class="navbar-brand" href="/productos"><span>Melamina Pro</span><span class="detalle-titulo">Ventas al por mayor y menor</span></a>
                <a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100092987178870"><img src="../images/facebook.jpg" width="20" /></a>
                <a class="navbar-brand" href="https://wa.me/71445232?text=¡Estoy+interesado+MelaminaPro"><img src="../images/whatsapp.jpg" width="30" /></a>
            </div>    
            <div class="container-fluid d-flex" style="justify-content: end!important;"> 
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Melamina</a> </li>
                    <li class="nav-item" role="presentation"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tapacantos</a> </li>
                    <li class="nav-item" role="presentation"> <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Fondos</a> </li>
                    <li class="nav-item" role="presentation"> <a class="nav-link" id="last-tab" data-toggle="tab" href="#last" role="tab" aria-controls="last" aria-selected="false">Tapatornillos</a> </li>
                    <li class="nav-item" role="presentation"> <a class="nav-link" id="pega-tab" data-toggle="tab" href="#pega" role="tab" aria-controls="last" aria-selected="false">Pegamento</a> </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid mt-2 mb-5">
        <div class="products">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <input class="search" placeholder="Filtrar" />
                     <!--melamina-->
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">Melamina</span>
                        <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                    </div>
                    <div class="row g-3 list">
                        <%  for (let index = melamina.length - 1; index >= 0; index--) {
                                let producto = melamina[index];
                                let noDisponible = (inventario[producto.hash_inventario] && inventario[producto.hash_inventario].existencia <= 0);
                        %>
                        <div class="col-md-4">
                            <div class="card"> <img src="<%= producto.link_photo %>" class="card-img-top">
                                <div class=<%= producto.apedido?'pedido_centered':'centered' %> ><%= producto.apedido ? 'A PEDIDO' : (noDisponible ? 'NO DISPONIBLE':''); %></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span id="melamina_<%= index%>" class="font-weight-bold Caracteristicas"><%= items[producto.color]%> <%= items[producto.medidas]%> (<%= items[producto.marca]%>)</span> <span class="font-weight-bold-price"><%= producto.precio_venta %>Bs (lamina)</span> </div>
                                    <p class="card-text mb-1 mt-1"><%= producto.apedido ? 'A pedido, con tardanza de algunos dias.':'Ventas al por mayor y menor' %></p>
                                    <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark" onclick="sendToWhatsapp('melamina_<%= index%>')">Enviar a WhatsApp</button> <!--<button class="btn btn-dark">Enviar a WhatsApp</button>--> </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <input class="search" placeholder="Filtrar" />
                    <!--tapacantos-->
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">Tapacantos</span>
                        <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                    </div>
                    <div class="row g-3 list">
                        <%  for (let index = tapacantos.length - 1; index >= 0; index--) {
                                let producto = tapacantos[index];
                                let noDisponible = (inventario[producto.hash_inventario] && inventario[producto.hash_inventario].existencia <= 0);
                        %>
                        <div class="col-md-4">
                            <div class="card"> <img src="<%= producto.link_photo %>" class="card-img-top">
                                <div class=<%= producto.apedido?'pedido_centered':'centered' %> ><%= producto.apedido ? 'A PEDIDO' : (noDisponible ? 'NO DISPONIBLE':''); %></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span id="tapacantos_<%= index%>" class="font-weight-bold Caracteristicas"><%= items[producto.color]%> <%= items[producto.medidas]%></span> <span class="font-weight-bold-price"><%= producto.precio_venta %>Bs (rollo)<br><%= producto.precio_venta_caja %>Bs (caja)<br> <%= producto.precio_venta_metros %>Bs (metros)<br> <%= producto.precio_venta_metros_canteo %>Bs (metros al canteo)</span> </div>
                                    <p class="card-text mb-1 mt-1"><%= producto.apedido ? 'A pedido, con tardanza de algunos dias.':'Ventas al por mayor y menor' %></p>
                                    <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark" onclick="sendToWhatsapp('tapacantos_<%= index%>')">Enviar a WhatsApp</button> <!--<button class="btn btn-dark">Enviar a WhatsApp</button>--> </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <input class="search" placeholder="Filtrar" />
                    <!--fondos-->
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">Fondos</span>
                        <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                    </div>
                    <div class="row g-3 list">
                        <%  for (let index = fondos.length - 1; index >= 0; index--) {
                                let producto = fondos[index];
                                let noDisponible = (inventario[producto.hash_inventario] && inventario[producto.hash_inventario].existencia <= 0);
                        %>
                        <div class="col-md-4">
                            <div class="card"> <img src="<%= producto.link_photo %>" class="card-img-top">
                                <div class=<%= producto.apedido?'pedido_centered':'centered' %> ><%= producto.apedido ? 'A PEDIDO' : (noDisponible ? 'NO DISPONIBLE':''); %></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span id="fondos_<%= index%>" class="font-weight-bold Caracteristicas"><%= items[producto.color]%> <%= items[producto.medidas]%></span> <span class="font-weight-bold-price"><%= producto.precio_venta %> Bs (lamina)</span> </div>
                                    <p class="card-text mb-1 mt-1"><%= producto.apedido ? 'A pedido, con tardanza de algunos dias.':'Ventas al por mayor y menor' %></p>
                                    <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark" onclick="sendToWhatsapp('fondos_<%= index%>')">Enviar a WhatsApp</button> <!--<button class="btn btn-dark">Enviar a WhatsApp</button>--> </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane fade" id="last" role="tabpanel" aria-labelledby="last-tab">
                    <input class="search" placeholder="Filtrar" />
                    <!--tapatornillos-->
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">Tapatornillos</span>
                        <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                    </div>
                    <div class="row g-3 list">
                        <%  for (let index = tapatornillos.length - 1; index >= 0; index--) {
                                let producto = tapatornillos[index];
                                let noDisponible = (inventario[producto.hash_inventario] && inventario[producto.hash_inventario].existencia <= 0);
                        %>
                        <div class="col-md-4">
                            <div class="card"> <img src="<%= producto.link_photo %>" class="card-img-top">
                                <div class=<%= producto.apedido?'pedido_centered':'centered' %> ><%= producto.apedido ? 'A PEDIDO' : (noDisponible ? 'NO DISPONIBLE':''); %></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span id="tapatornillos_<%= index%>" class="font-weight-bold Caracteristicas"><%= items[producto.color]%></span> <span class="font-weight-bold-price"><%= producto.precio_venta %>Bs (hoja)<br><%= producto.precio_venta_caja %>Bs (caja)</span> </div>
                                    <p class="card-text mb-1 mt-1"><%= producto.apedido ? 'A pedido, con tardanza de algunos dias.':'Ventas al por mayor y menor' %></p>
                                    <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark" onclick="sendToWhatsapp('tapatornillos_<%= index%>')">Enviar a WhatsApp</button> <!--<button class="btn btn-dark">Enviar a WhatsApp</button>--> </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane fade" id="pega" role="tabpanel" aria-labelledby="pega-tab">
                    <input class="search" placeholder="Filtrar" />
                    <!--pegamento-->
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">Pegamento</span>
                        <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                    </div>
                    <div class="row g-3 list">
                        <%  for (let index = pegamento.length - 1; index >= 0; index--) {
                                let producto = pegamento[index];
                                let noDisponible = (inventario[producto.hash_inventario] && inventario[producto.hash_inventario].existencia <= 0);
                        %>
                        <div class="col-md-4">
                            <div class="card"> <img src="<%= producto.link_photo %>" class="card-img-top">
                                <div class=<%= producto.apedido?'pedido_centered':'centered' %> ><%= producto.apedido ? 'A PEDIDO' : (noDisponible ? 'NO DISPONIBLE':''); %></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span id="pegamento_<%= index%>" class="font-weight-bold Caracteristicas"><%= items[producto.color]%> (<%= items[producto.marca]%>)</span> <span class="font-weight-bold-price"><%= producto.precio_venta %> Bs (bolsa)</span> </div>
                                    <p class="card-text mb-1 mt-1"><%= producto.apedido ? 'A pedido, con tardanza de algunos dias.':'Ventas al por mayor y menor' %></p>
                                    <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark" onclick="sendToWhatsapp('pegamento_<%= index%>')">Enviar a WhatsApp</button> <!--<button class="btn btn-dark">Enviar a WhatsApp</button>--> </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var homeList = new List('home', {
            valueNames: [ 'Caracteristicas' ]
        });
        var profileList = new List('profile', {
            valueNames: [ 'Caracteristicas' ]
        });
        var contactList = new List('contact', {
            valueNames: [ 'Caracteristicas' ]
        });
        var lastList = new List('last', {
            valueNames: [ 'Caracteristicas' ]
        });
        var pegaList = new List('pega', {
            valueNames: [ 'Caracteristicas' ]
        });

        function sendToWhatsapp(ID) {
            let mensaje = document.getElementById(ID).innerText.trim()
            window.open("https://wa.me/71445232?text=" + encodeURIComponent(mensaje));
            //"https://api.whatsapp.com/send?text="
        }
    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
  