<div class="col-md-4">
    <div class="card">
        <div id="dropZone_<%= melamina.length%>" onDrop="soltarImagen(event,<%= melamina.length%>)" onDragOver="arrastrarImagen(event)" style="border: 1px dashed #ccb3b3; width: 516px; height: 516px;">
            <img id="imgPreview_<%= melamina.length%>" src="images/plus_card2.jpg" alt="Vista previa" class="card-img-top " style="max-width: 516px; max-height: 516px;">
        </div>
        <div class="centered">
            <select name="selectBoxAvailable<%= melamina.length%>"id="selectBoxAvailable<%= melamina.length%>" class="optionAvailable" onchange="updateOption(event)">
                <option class="optionAvailable"value="stock" selected>DISPONIBLE</option>
                <option class="optionUnavailable"value="nodisponible" >NO DISPONIBLE</option>
                <option class="optionAvailable"value="apedido" >A PEDIDO</option>
            </select>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span id="melamina_<%= melamina.length%>" class="font-weight-bold Caracteristicas">
                    <select name="color<%= melamina.length%>"id="color<%= melamina.length%>" class="edit-control">
                        <% _color.forEach(color => { %>
                        <option value="<%= color.nombre %>"><%= color.nombre %></option>
                        <% }); %>
                    </select>
                    <select name="medidas<%= melamina.length%>"id="medidas<%= melamina.length%>" class="edit-control">
                        <% _medida.forEach(medida => { %>
                        <option value="<%= medida.nombre %>"><%= medida.nombre %></option>
                        <% }); %>
                    </select>
                    <select name="marca<%= melamina.length%>"id="marca<%= melamina.length%>" class="edit-control">
                        <% _marca.forEach(marca => { %>
                        <option value="<%= marca.nombre %>"><%= marca.nombre %></option>
                        <% }); %>
                    </select>
                </span>
                <span class="font-weight-bold-price">
                    <input id="precio<%= melamina.length%>"name="precio<%= melamina.length%>"class="edit-control"/>Bs (Lamina)
                </span>
            </div>
            <p class="card-text mb-1 mt-1">
                <select name="selectInfo<%= melamina.length%>"id="selectInfo<%= melamina.length%>" class="edit-control">
                    <option value="apedido">A pedido, con tardanza de algunos dias.</option>
                    <option value="existe" selected>Ventas al por mayor y menor</option>
                </select>
            </p>
            <div class="d-flex align-items-center flex-row"> <img id="photo<%= melamina.length%>" src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">Envios a toda Bolivia</span> </div>
        </div>
        <hr>
        <div class="card-body">
            <div class="text-right buttons">
                <button class="btn btn-outline-warning" onclick="pedido('melamina_<%= melamina.length%>')">Pedido</button>
                <button class="btn btn-outline-success" onclick="sendToWhatsapp('melamina_<%= melamina.length%>')">Enviar a WhatsApp</button>
                <button class="btn btn-outline-primary" onclick="guardarMelamina(<%= melamina.length%>)"><i class="fas fa-save"></i></button>
            </div>
        </div>
    </div>
</div>